.coupon-dialog {
    background: #ffffff;
}

.coupon-card-wrapper {
    margin-bottom: 12px;
}

.coupon-card {
    display: flex;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 6px 16px rgba(33, 43, 64, 0.1);
    overflow: hidden;
}

.coupon-ribbon {
    width: 14%;
    height: 159px;
    background-color: #FD7029;
    border-radius: 9px 0px 0px 9px !important;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coupon-ribbon::before,
.coupon-ribbon::after {
 content: "";
    position: absolute;
    left: -13px;
    top: 8%;
    width: 21px;
    height: 14px;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0 40px 0 0 #F0F2F6, 0 80px 0 0 #F0F2F6, 0 120px 0 0 #F0F2F6;
}

/* .coupon-ribbon::before {
    top: -10px;
}

.coupon-ribbon::after {
    bottom: -10px;
} */
.coupon-ribbon span {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    letter-spacing: 1px;
    font-weight: 700;
    color: white;
}

.coupon-body {
    flex: 1;
    padding: 14px 16px;
}

.coupon-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* align-items: center; */
    margin-bottom: 6px;
    border-bottom: 2px dotted #e6e8ed;
    padding-bottom: 10px;
}

.coupon-icon {
    color: #a8b0c5;
    font-size: 18px;
}

.coupon-name {
    font-size: 18px;
    font-weight: 700;
    color: #000000;
    margin: 0;
}

.coupon-desc {
    font-size: 13px;
    font-weight: 700;
    color: #ff5c00;
}

.coupon-validity {
    font-size: 10px;
    color: #8b90a5;
    margin: 4px 0 10px;
}

.coupon-footer {
    display: flex;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.coupon-code {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 3px 11px;
    background: #eef2f8;
    border: 1px solid #d8ddeb;
    border-radius: 10px;
    font-weight: 700;
    color: #444c63;
    min-width: fit-content;
}

.coupon-code i {
    font-size: 14px;
    color: #7a8094;
}

.apply-chip {
    border: 1px solid #ff5c00;
    color: #ff5c00;
    background: #fff;
    font-weight: 700;
    padding: 3px 11px;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 12px;
}

.apply-chip.applied {
    border-color: #1cce71;
    color: #1cce71;
    background: #edfff4;
}

.ttip {
    position: relative;
}

.ttip .tooltiptext {
    visibility: hidden;
    width: 62px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 120%;
    left: 50%;
    margin-left: -30px;
    opacity: 0;
    transition: opacity 0.3s;
}

.ttip .tooltiptext.copied-text {
    width: 160px !important;
    margin-left: -82px !important;
}

.ttip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.ttip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.discount-label {
  display: block;
  white-space: nowrap;
  /* Rotate 90 degrees clockwise */
  transform: rotate(90deg);
  /* Optional: keeps the rotation centered */
  transform-origin: center; 
}
.mdc-dialog--open .mat-mdc-dialog-surface, .mdc-dialog--closing .mat-mdc-dialog-surface {
    transform: none !important;
    background-color: #F0F2F6 !important;
}
.coupontitle-left-img {
    width: 25px;
    height: 25px;
    object-fit: cover;
}
.coupon-main-title{
    display: flex;
    flex-direction: row;
    gap:7px;
}
.page{
    background-color: #F0F2F6;
}