textarea {
    height: 150px !important;
}

.mgright25 {
    margin-right: 25px;
}

.card-head-grey {
    color: #B6B1B1;
    font-size: 12px;
}

.coupon-outer {
    padding-top: 5px !important;
}

.grey-b {
    background: black !important;
    opacity: .3;
}

.hint {
    color: #1212b8;
}

.bt_attach {
    height: auto;
    background: transparent;
    color: #000;
    font-size: 1.3rem;
    font-weight: 600;
}

.btn-attach {
    padding: 8px 8px 9px 10px !important;
}

@media (max-width: 575px) {
    form {
        height: 100vh;
        width: 100%;
    }
}

@media (max-width: 575px) {
    form {
        height: 100% !important;
    }
}

.ln-hgt-40 {
    line-height: 40px;
}

.mbt {
    position: relative;
    cursor: pointer;
}

.icon-delete:before {
    content: "\4b";
}

@media only screen and (max-width: 575px) {
    .row {
        margin-left: 0;
        margin-right: 0;
    }
}

@media (min-width: 635px) and (max-width:991px) {
    .mat-dialog-actions {
        display: block !important;
    }
}

.btn-attach {
    margin-top: -3px;
    border: none;
}

@media (max-width:768px) {
    .cstmWidth {
        width: 100%;

    }
}

.sendBtn {
    text-align: center !important;
    font-weight: 500 !important;
    color: white !important;
    padding: 10px !important;
    background: #FD7029 !important;
    box-shadow: 0.417685px 2.50611px 8.77138px 1.25305px #1e407926 !important;
    border-radius: 3.75916px !important;
    border: 0px solid !important;
    width: 6rem !important;
}

.cancel_btn {
    background: #E5E8E8;
    border-radius: 3.25709px;
    border: none;
    outline: none;
    padding: 10px;
    width: 6rem;
    text-align: center;
    text-transform: uppercase;
    color: #A9A9A9;
}

.form-group {
    padding: 15px;
}

textarea {
    resize: none;
    background: #f5f5f5;
    border-radius: 10px;
    font-style: italic;
}

textarea::placeholder {
    font-size: 12px !important;
    font-style: italic;
    color: #555;
}

.form-control {
    display: block;
    width: 100%;
    height: 35px;
    padding: 6px 12px !important;
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    color: black !important;
    background-image: none !important;
    border-radius: 5.73504px !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .08) !important;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s !important;
}

.mat-scrool {
    max-height: 10rem !important;
    overflow: auto !important;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
}

.btnInfo {
    margin-bottom: 15px;
    margin-top: 15px;
}

.imgType {
    height: 30px;
}

.msgImg {
    height: 60px;
    width: 60px;
    display: flex;
    padding: 10px !important;
    box-shadow: 0 0 10px rgb(0 0 0 / 5%) !important;
    border-radius: 5px;
    background: #fff;
    background-clip: padding-box;
    border: none !important;
    margin-bottom: 10px;
}

.msgImg_1 {
    visibility: hidden;
}

.attach_sendmsg {
    display: flex;
    padding: 10px !important;
    box-shadow: 0 0 10px rgb(0 0 0 / 5%) !important;
    border-radius: 5px;
    background: #fff;
    background-clip: padding-box;
    border: none !important;
    margin-bottom: 10px;
}

.basicGap {
    gap: 10px;
}

.videoCstm {
    width: 95px;
    margin-top: -5px;
}

.msgImg_Vid {
    display: block;
    padding: 10px !important;
    box-shadow: 0 0 10px rgb(0 0 0 / 5%) !important;
    border-radius: 5px;
    background: #fff;
    background-clip: padding-box;
    border: none !important;
    margin-bottom: 10px;
    height: 60px;
    width: 116px;
}

::-webkit-scrollbar {
    width: 6px;
    border-radius: 10px !important;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px !important
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px !important
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 10px !important
}