.bus-page-header {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25) !important;
    position: fixed;
    top: 0;
    z-index: 100;
    background: #fff;
    width: 100%;
}

.content {
  padding-top: calc(var(--header-height, 0px));
  width: 100%;
  // background-color: #f5f5f5;
}

.shopping-cart-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    color: #436B50;
    font-weight: 700;
    text-align: center;
    padding: 15px;
    z-index: 1;
    box-shadow: 0 -3px 20px rgb(0 0 0 / 12%);
}


.cart-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn-viewCart {
    border-radius: 5px;
    border: 2.643px solid rgba(255, 187, 17, 0.13);
    background: #436B50;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 15px !important;
}

.Item-count {
    color: #436B50;
    font-size: 16px;
}

h1,
.h1 {
  font-size: 2em;
}

h2,
.h2 {
  font-size: 1.5em;
}

h3,
.h3 {
  font-size: 1.17em;
}

h4,
.h4 {
  font-size: 1em;
}

h5,
.h5 {
  font-size: .83em;
}

h6,
.h6 {
  font-size: .67em;
}


.navbar {
  display: flex;
  padding: 1rem;
}

.navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar a.active {
  font-weight: 600;
  color: #d1793e !important;
}

.navbar a {
  text-decoration: none;
  color: #333;
  cursor: pointer;
  padding: 10px 5px!important;
}

.navbar li {
  margin-right: 35px;
}

.bottomFlexAlign {
    align-items: end !important;
}

.login-form {
    background: white;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    width: 100% !important;
    // padding-top: 40px !important;
}

.bg-cover-app {
    background-size: 100% !important;
}

.qnr-form {
    height: 100vh !important;
}



