a.smalltext {
    font-size: 10px !important;
    word-break: break-all;
}

.basic-card {
    padding: 0px !important;
    background-color: #1AA695;
    box-shadow: 0px 3.98005px 3.98005px rgba(0, 0, 0, 0.05) !important;
    border-radius: 12px;
}

body {
    color: white;
}

.line-clamp-ln2 {
    display: -webkit-box!important;
    -webkit-line-clamp: 2!important;
    -webkit-box-orient: vertical!important;
    overflow: hidden;
}
h5 {
    color: white;
    font-weight: 600 !important;
    font-size: 20px;
    padding-top: 0.75rem !important;
}

.about-btn {
    border-radius: 8px !important;
    background: #FFFFFF;
    color: #FF6161;
    width: 120px;
    border: 1px solid #FFFFFF;
    border-radius: 10.1585px;
    font-size: 15px;
}

.fa {
    color: black !important;
    background-color: white;
    padding: 2.5px;
    border-radius: 3px;

}

a.smalltext {
    color: white;
}

.profile-image {
    padding-top: 10px;
    height: 175px !important;
    border-radius: 12px;
    float: right;
}

.location {
    font-size: 12px !important;
    color: white !important;
}

.head {
    padding-left: 20px;
    display: grid;
    padding-bottom: 15px;
}

a {
    margin-bottom: 10px;
}
.em {
    display: flex;
}
.emailId {
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 1.2rem;
    white-space: nowrap;
    padding-left: 3px;
}