<section class="support-page" [ngClass]="theme">
  <div class="back-section">
    <button type="button" class="back-link" (click)="goBack()">
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
      <span>Back</span>
    </button></div>
  <div class="support-container">
    

    <div class="support-heading">
      <h1>Get Support</h1>
      <p>Need help? Get in touch with us</p>
    </div>

    <div class="support-card phone" *ngIf="accountProfile.phoneNumbers && accountProfile.phoneNumbers.length>0">
      <div class="support-card__icon">
        <i class="fa fa-phone" aria-hidden="true"></i>
      </div>
      <div class="support-card__content">
        <h3>Call Our Support Team</h3>
         <span *ngFor="let phoneNo of accountProfile.phoneNumbers"><a class="support-card__link" href="tel:{{phoneNo.instance}}"
                                target="_blank">
                                {{accountProfile.countryCode}} {{phoneNo.instance}}
                            </a></span>
        <ng-template #phoneText>
          <span class="support-card__link">{{ phoneDisplay }}</span>
        </ng-template>
      </div>
    </div>

    <div class="support-card email" *ngIf="accountProfile.emails && accountProfile.emails.length>0">
      <div class="support-card__icon">
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
      </div>
      <div class="support-card__content">
        <h3>Mail Us Your Concerns</h3>
        <p class="support-card__subtitle">We will respond within 24 hours</p>
                 <div
                    *ngIf="accountProfile&&accountProfile.emails&&accountProfile.emails[0]&&accountProfile.emails[0].instance">
                    <a href="mailto:{{accountProfile.emails[0].instance}}" target="_blank">
                    </a>
                </div>
        <span *ngIf="supportEmailLink" class="support-card__link">{{ email.instance }}</span>
        <span *ngFor="let email of accountProfile.emails">
                            <a class="support-card__link" href="mailto:{{email.instance}}" target="_blank">
                                {{email.instance}}
                            </a>
                        </span>
      </div>

    </div>
  </div>
</section>
