<section class="booking-card booking-for-card" [class.booking-for-card--reschedule]="bookingType === 'reschedule'">
  <div class="booking-for-card__avatar">
    <span *ngIf="getUserFirstLetter(); else bookingAvatarIcon">{{getUserFirstLetter()}}</span>
    <ng-template #bookingAvatarIcon>
      <i class="fa fa-user" aria-hidden="true"></i>
    </ng-template>
  </div>
  <div class="booking-for-card__body">
    <div class="booking-for-card__header">
      <div class="booking-for-card__identity">
        <span class="booking-for-card__label">{{'Booking for' | translate}}</span>
        <span class="booking-for-card__name">
          <ng-container *ngIf="apptDetails_title">{{apptDetails_title}}&nbsp;</ng-container>
          {{apptDetails_firstName | capitalizeFirst}} {{apptDetails_lastName | capitalizeFirst}}
        </span>
      </div>
      <button type="button"
              class="booking-for-card__action"
              *ngIf="bookingType !== 'reschedule'"
              (click)="edit('member')"
              data-bs-toggle="modal"
              data-bs-target="#exampleModalCenter">
        {{'Change' | translate}}
      </button>
    </div>
    <div class="booking-for-card__contact" *ngIf="commObj?.comWhatsappNo || commObj?.communicationEmail">
      <span class="booking-for-card__contact-item" *ngIf="commObj?.comWhatsappNo">
        {{commObj?.comWhatsappCountryCode}} {{commObj?.comWhatsappNo}}
      </span>
      <span class="booking-for-card__contact-item booking-for-card__contact-item--email" *ngIf="commObj?.communicationEmail">
        {{commObj?.communicationEmail}}
      </span>
    </div>
  </div>
</section>
