.color-highlight {
  color: #da4453;
}

.bg-highlight {
  background-color: #da4453;
  color: #fff;
}

.border-highlight {
  border-color: #da4453;
}

.gradient-highlight {
  background-image: linear-gradient(to bottom, #ED5565, #DA4453) !important
}

.footer-bar-2 .active-nav,
.footer-bar-5 strong,
.footer-bar-4 strong,
.splide__pagination__page.is-active {
  background-color: #da4453 !important
}

.footer-bar-1 .active-nav i,
.footer-bar-1 .active-nav span,
.footer-bar-3 .active-nav i {
  color: #da4453;
}

.form-floating-over>.form-control:focus~label {
  color: #da4453
}

.form-floating-over>.form-control:not(:placeholder-shown)~label {
  color: #da4453
}

.form-floating-over>.form-select~label {
  color: #da4453
}

.color-highlight {
  color: #da4453
}

.bg-highlight {
  background-color: #da4453;
  color: #fff !important
}

.interest-check input:checked~label {
  color: #fff !important;
  background-color: #da4453 !important
}

#footer-bar a {
  color: #1f1f1f;
  padding-top: 12px;
  position: relative;
  flex: 1 1 auto;
}

#footer-bar a i {
  font-size: 18px;
  position: relative;
  z-index: 2;
  padding-bottom: 8px;
}



#footer-bar a span {
  position: relative;
  z-index: 2;
  display: block;
  font-size: 10px;
  font-weight: 600;
  margin-top: -6px;
  opacity: .7;
  font-family: Roboto, sans-serif !important;
}

#page {
  position: relative;
}


.page-content {
  overflow-x: hidden;
  transition: all 350ms ease;
  z-index: 90;

}

.pageitem {
    // color: red;
    margin-bottom: calc(var(--footer-height, 0px));
}

.page-content p {
  line-height: 1.75;
  font-size: 17px;
  text-align: justify;

}

.hyphenate {
  word-wrap: break-word;
  overflow-wrap: break-word;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

#footer-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 98;
  background-color: rgba(249, 249, 249, .98);
  box-shadow: 0 -5px 10px 0 rgb(0 0 0 / 6%);
  min-height: 60px;
  height: calc(62px + (constant(safe-area-inset-bottom))*1.1);
  height: calc(62px + (env(safe-area-inset-bottom))*1.1);
  display: flex;
  text-align: center;
}

.ftco-services-2 .services {
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 0;
  margin-bottom: 30px;
}

.flex-column {
  flex-direction: column;
}

a.middle {
  border: 3px solid #fff;
  border-radius: 50px;
  bottom: 30px;
  background-color: #0B83F2;
  width: 35px;
  color: #fff !important;
}

.mgn-bt-100 {
  margin-bottom: 100px;
}

.mgn-bt-70 {
  margin-bottom: 70px;
}

.iconimage {
  width: 25px;
  height: 25px;
}

.icon-img-cont {
  padding-bottom: 3px !important;
}
