<p-toast
  [key]="'template12Toast'"
  styleClass="app-custom-toast-host"
  [life]="2500"
  [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }"
  position="top-right"
  [baseZIndex]="12000"
>
  <ng-template let-message pTemplate="message">
    <article class="app-custom-toast" [ngClass]="'tone-' + getTone(message)">
      <div class="toast-icon">{{ getIcon(message) }}</div>
      <div class="toast-content">
        <p class="toast-body">{{ getBody(message) }}</p>
      </div>
      <button *ngIf="hasAction(message)" type="button" class="toast-action" (click)="onAction(message)">
        {{ getActionLabel(message) }}
      </button>
      <button type="button" class="toast-close" aria-label="Close" (click)="onDismiss()">
        <span></span>
        <span></span>
      </button>
    </article>
  </ng-template>
</p-toast>
