<p-toast [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>
<section class="full-height">
    <div class="videocontainer no-padding">
        <div class="container previewDiv" [ngStyle]="{'height.px': (screenHeight-100)}"
            [ngClass]="{'hide': !twilioService.preview}">
            <div class="col-md-7 col-lg-6 col-sm-7 col-12 previewSubDiv no-padding mt-3">
                <div #previewContainer [ngClass]="{'videohgt': (twilioService.camDeviceCount == 0)}"
                    id="previewContainer" class="previewContainer col-md-7 col-lg-7 col-sm-7 col-12">
                </div>
            </div>           
            <div class="col-md-5 col-lg-6 col-sm-5 col-12 no-padding">
                <div class="col-md-12 col-lg-12 col-sm-12 col-12 no-padding">
                    <div class="mgn-up-50 mgn-bt-20 centeralign col-12 col-sm-12 col-md-12 col-lg-12 no-padding">
                        <h1 *ngIf="loading" class="mgn-up-20">Getting Ready...</h1>
                        <h2 *ngIf="!loading && twilioService.loading" class="mgn-up-20 mgn-bt-20">Trying to Join,</h2>
                        <p *ngIf="!loading && twilioService.loading">if unable to join in a few seconds please refresh the page and try again..</p>
                    </div>
                    <div class="video_blinking text-center mgn-bt-20" *ngIf="!loading && !twilioService.loading">
                        {{status}}
                    </div>
                    <div class="text-center mgn-bt-20" *ngIf="loading && !twilioService.loading">
                        You will be able to join in just a moment
                    </div>
                    <app-common-innerloading-spinner *ngIf="loading"></app-common-innerloading-spinner>
                    <app-common-innerloading-spinner *ngIf="!loading && twilioService.loading"></app-common-innerloading-spinner>                   
                    <div class="text-center join-vid-btn mgn-bt-20 col-12 col-sm-12 col-md-12 col-lg-12 no-padding"
                        *ngIf="!loading">
                        <button class="startshare" [disabled]="!providerReady || btnClicked" (click)="!btnClicked && providerReady && joinRoom()">Start Sharing Video
                        </button> <button class="mgn-lt-5 exit" [disabled]="btnClicked" (click)="!btnClicked && disconnect()">Exit</button>
                        <br><br>
                    </div>
                </div>
            </div>
        </div>                  
        <div class="col-md-12 col-12 col-sm-12 col-lg-12 video-container-org no-padding"
            [ngStyle]="{'height.px': (screenHeight)}" [ngClass]="{'hide': twilioService.preview}">
            <div class="remote" id="remote-video" #remoteVideo
                [ngClass]="{'remote': twilioService.participantsCount > 0, 'remove-hide': twilioService.participantsCount == 0}">
            </div>
            <div id="local-video" #localVideo
                [ngClass]="{'local': twilioService.participantsCount > 0, 'local-zeroPs': twilioService.participantsCount == 0}">
            </div>
            <div class="icons">
                <i title="Mute" *ngIf="twilioService.microphone" class="fa fa-microphone round mute"
                    style="opacity: 1;cursor: pointer;" (click)="mute()"></i>
                <i *ngIf="!twilioService.microphone" title="Unmute" class="fa fa-microphone-slash round  mute"
                    style="opacity: 1;cursor: pointer;" (click)="unmute()"></i>
                <i title="Video" *ngIf="twilioService.video" class="fa fa-video-camera round video"
                    style="opacity: 1;cursor: pointer;" (click)="stopVideo()">
                </i>
                <i *ngIf="!twilioService.video" title="No Video" class="round novideo"
                    style="opacity: 1;cursor: pointer;" (click)="startVideo()">
                    <i class="fa fa-stack"><i class="fa fa-video-camera fa-stack-1x"></i>
                        <i class="fa fa-close red fa-stack-1x"></i>
                    </i>
                </i>
                <i *ngIf="twilioService.camDeviceCount > 1  && media" title="Switch Camera" class="round novideo"
                    style="opacity: 1;cursor: pointer;" (click)="switchCamera(media['videoDevices'])">
                    <i class="fa fa-stack"><i class="fa fa-camera fa-stack-1x"></i>
                        <i class="fa fa-refresh fa-stack-1x"></i>
                    </i>
                </i>
                <i title="Disconnect" class="fa fa-phone red round stop" style="opacity: 1;cursor: pointer;"
                    (click)="disconnect()"></i>
                <span  class="pull-right" *ngIf="twilioMainClass.signalStrength==0">
                    <i class="fa fa-spinner"></i>
                    <br/><span class="record-text">Reconnecting...</span>
                </span>
                <span  class="pull-right" *ngIf="twilioMainClass.signalStrength==1">
                    <i class="fa-solid fa-signal-weak signal-1"></i>
                    <br/><span class="record-text">Bad network</span>
                </span>
                <span  class="pull-right" *ngIf="twilioMainClass.signalStrength==2">
                    <i class="fa-solid fa-signal-fair signal-2" ></i>
                    <br/><span class="record-text">Below average</span>
                </span>
                <span class="pull-right" *ngIf="twilioMainClass.signalStrength==3">
                    <i class="fa-solid fa-signal-good signal-3"></i>
                    <br/><span class="record-text">Average</span>
                </span>
                <span  class="pull-right" *ngIf="twilioMainClass.signalStrength==4">
                    <i class="fa-solid fa-signal-strong signal-4" ></i>
                    <br/><span class="record-text">Good</span>
                </span>
                <span  class="pull-right" *ngIf="twilioMainClass.signalStrength==5">
                    <i class="fa-solid fa-signal signal-5" ></i>
                    <br/><span class="record-text">Excellent</span>
                </span>
                <i class="fa fa-circle record red blink pull-right" *ngIf="recordingFlag"></i>
            </div>
        </div>
        <select id="video-devices" hidden></select>
        <div class="clearfix"></div>
    </div>  
</section>