.mgl-auto {
    margin-left: auto !important;
}
.serv-width {
    max-width: 40%;
}
.con-width {
    max-width: 60%;
}
.green {
    color: green !important;
}
.m-hgt-50 {
    min-height: 50px;
}
.bg-cover {
    margin-bottom: 20px;
}
.mt-80 {
    margin-top: 80px;
}
.svg-align {
    overflow: hidden;
    vertical-align: middle;
}
.ansr {
    color: #7E8299 !important;
    padding-left: 30px;
    margin-bottom: 20px;
}
.svg-icon.svg-icon-success svg g [fill] {
    -webkit-transition: fill 0.3s ease;
    transition: fill 0.3s ease;
    fill: #1BC5BD !important;
  }
  
  .consumer-dash .grid-card button:disabled {
    background-color: grey !important;
}

.mat-grid-tile .mat-grid-tile-footer {
    padding: 0 8px !important;
}
app-appt-card, app-wl-card {
    height: 100%;
    overflow: auto;
}

@media (max-width: 575px) {
    h1.hello-msg {
        text-align: left !important;
    }
}
.telebt{
    color: #3c8dbc;
    border: 1px solid;
}
.tbt{
    font-size: 20px !important
}
.tele_button{
    padding-top: 70px !important
}
.qnr-accord .mat-expansion-panel-header {
    margin: 10px !important;
    padding: 0 !important;
}
.qnrstatus {
    margin-left: auto;
    font-weight: bold;
    font-size: 0.9rem;
}
[class~=modal-content], [class~=modal] {
    position: fixed;
  }
  
  [class~=modal] {
    z-index: 1000;
  }
  
  [class~=modal] {
    left: 0;
  }
  
  [class~=modal] {
    top: 0;
  }
  
  [class~=modal-content], [class~=modal] {
    width: 100%;
  }
  
  [class~=modal] {
    height: 100%;
  }
  
  [class~=modal] {
    overflow: auto;
  }
  
  [class~=modal] {
    -webkit-animation-name: fadeIn;
  }
  
  [class~=close]:focus, [class~=close]:hover {
    text-decoration: none;
  }
  
  [class~=close]:focus, [class~=close]:hover {
    cursor: pointer;
  }
  
  [class~=modal-content], [class~=modal] {
    -webkit-animation-duration: .4s;
  }
  
  [class~=modal] {
    animation-name: fadeIn;
  }
  
  [class~=modal] {
    animation-duration: .4s;
  }
  
  [class~=modal-content] {
    bottom: 0;
  }
  
  [class~=modal-content] {
    background-color: #fefefe;
  }
  
  [class~=modal-content] {
    -webkit-animation-name: slideIn;
  }
  
  [class~=modal-content] {
    animation-name: slideIn;
  }
  
  [class~=modal-content] {
    animation-duration: .4;
  }
  #popup .modal-header {
    padding: 15px 5px 15px 0px !important; 
  }
  #popup .close {
    opacity: 1 !important;
    font-size: 1.75rem !important;
  }
  
  ::ng-deep .service-detail-modal {
    transform: translate(0, 5%) !important;
  }
  
  ::ng-deep .service-detail-modal-container {
    opacity: 1 !important;
  }
@media (max-width: 775px) {
    .pop-up_small {
        display: block !important;
    }
}
@media  (max-width: 750px)  {
  .web{
      display: none !important;
  }
}
@media (min-width: 450px) {
  .disply  {
      display: none !important;
  }
}

/* new */
h5 {
  font-size: 1.25rem;
  margin-bottom: 10px;
}
.mgn-rt-20 {
  margin-right: 20px!important;
}
.back-btn i {
  color: #000;
}
.checkin-details .graphics-div {
  position: absolute;
  z-index: 1;
  width: 100%;
}
.checkin-details .graphics-div {
  text-align: right;
}
.content .card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
}
.pad-10 {
  padding: 10px!important;
}
img {
  vertical-align: middle;
}
.content .c-outer .c-body {
  flex-grow: 1;
  position: relative;
  transition: all .3s;
}
.title-gb {
  padding-top: 5px;
  padding-bottom: 5px;
}
.checkin-details .head-color {
  color: rgb(24 62 121/85%);
}
h3 {
  font-size: 24px;
  margin-bottom: 10px;
}
.checkin-details .loc-cls {
  color: #1873f2;
  font-size: .8rem;
}
.mgn-up-10 {
  margin-top: 10px!important;
}
.checkin-details .temp-style {
  border-bottom: 1px solid #183e7a;
}
.mgn-bt-20 {
  margin-bottom: 20px!important;
}
.checkin-details .serv-name {
  color: #3c5c8dbf;
  font-weight: 600;
}
.cust-book-details .joinMeeting {
  padding: 6px;
  font-size: .8rem;
  background: #f1b51cd6;
  border-radius: 50px;
  margin-left: 10px;
  color: #3c5c8d;
}
.checkin-details .card .each-item {
  margin-bottom: 20px;
  display: grid;
}
.checkin-details .card .item-head {
  margin-bottom: 2px;
  font-weight: 600;
  color: grey;
  font-size: .9rem;
}
/* .serv-name {
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
} */
.checkin-details .stats-bar {
  padding: 10px;
}
.checkin-details .status-label {
  font-size: .7rem;
  color: #183e7a;
  font-weight: 600;
}
.checkin-details .item-label-val {
  font-size: .88rem;
}
.checkin-details .stats-item {
  display: grid;
}
.checkin-details .opt-actions, .checkin-details .opt-viewmore {
  font-weight: 600;
  font-size: .9rem;
  color: #183e7a;
}
.checkin-details .opt-viewmore {
  margin-left: 50px;
}
a:hover {
  color: #222223;
  text-decoration: none!important;
}
.fl-left {
  float: left!important;
}
.mgn-up-30 {
  margin-top: 30px!important;
}
.jvideo-icon-mgm5 {
  margin-bottom: -5px!important;
}
.est-tok-time {
  font-size: .6rem;
  font-weight: 600;
  color: blue;
}


::ng-deep.mat-tab-group {
  font-family: Roboto,Helvetica Neue,sans-serif;
}
::ng-deep.mat-tab-group {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
::ng-deep.mat-mdc-tab-header {
  border-bottom: 1px solid rgba(0,0,0,.12);
}
::ng-deep.mat-mdc-tab-header {
  display: flex;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
::ng-deep .mat-tab-label-content {
  color: #183e7a;
  font-weight: 600 ;
  font-size: 1rem;
}
::ng-deep .mat-ink-bar {
  background-color: #0e3166!important;
  height: 4px!important;
}
@media (min-width: 800px){
  ::ng-deep .mdc-tab__text-label  {
    min-width: 260px !important;
}
}
::ng-deep.mdc-tab__text-label  {
  opacity: 1!important;
}
.rupee-font {
  font-family: Arial,Helvetica,sans-serif!important;
}
@media only screen and (max-width: 575px){
  .card {
    padding: 0px !important;
  }
}

@media only screen and (max-width: 575px) {
  ::ng-deep .qrcode img,
  ::ng-deep .qrcode canvas {
    width: 80px !important;
    height: auto !important;
  }
}