<div>
    <div class="col-12 no-padding" *ngIf="section.profile && section.profileType==='basic'">
        <app-basic-profile></app-basic-profile>
    </div>
    <div class="col-12 no-padding" *ngIf="section.profile && section.profileType==='advanced'">
        <app-about [accountProfile]="accountProfile" [selectedLocation]="selectedLocation"
            [templateJson]="templateJson"></app-about>
    </div>
    <div class="col-12 no-padding" *ngIf="section.profile && section.profileType==='static'">
        <app-basic-profile-new-static [accountProfile]="accountProfile" [templateJson]="templateJson">
        </app-basic-profile-new-static>
    </div>
    <div class="col-12 no-padding" *ngIf="section.generalDescription !=''"
        [innerHtml]="section.generalDescription | safeHtml">
    </div>
    <div class="px-3 mt-2" *ngIf="section.specializations && section.specializations.show">
        <div class="col-12 blogs mb-2 no-padding">
            <div class="col-12 no-padding mt-2 ">
                <h5 class="mb-3"><i class="i-actions fa " *ngIf="section.specializations.icon"
                        [ngClass]="section.specializations.icon?section.specializations.icon:''"
                        aria-hidden="true"></i>&nbsp;<span>{{section.specializations.title}}</span>
                </h5>
            </div>
        </div>
        <div class="col-12 no-padding">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide *ngFor="let specialization of section.specializations.specialization">
                    <div class="item">
                        <div class="spec-container d-flex flex-column text-center">
                            <img class="gallery-img" src="{{specialization.image}}" alt="Card image cap">
                            <div class="img-title">
                                {{specialization.title}}
                            </div>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
    <div class="px-3 mt-2" *ngIf="section.quickActionMenu && section.quickActionMenu.show">
        <div class="col-12 blogs mb-2 no-padding">
            <div class="col-12 no-padding mt-2 ">
                <h5 class="mb-3"><i class="i-actions fa fa-calendar-plus-o"
                        aria-hidden="true"></i>&nbsp;<span>{{section.quickActionMenu.title}}</span>
                </h5>
            </div>
        </div>
        <app-quick-actions [actionList]="section.quickActionMenu.quickActions"
            (actionPerformed)="quickActionPerformed($event)"></app-quick-actions>
    </div>
    <ng-container *ngIf="section.actions && section.actions.length > 0">
        <div *ngFor="let actionList of section.actions">
            <div class="px-3 mt-2">
                <div class="col-12 no-padding mt-2 ">
                    <h5 class="mb-3"><i class="i-actions fa fa-calendar-plus-o"
                            aria-hidden="true"></i>&nbsp;<span>{{actionList.caption}}</span></h5>
                </div>
                <div class="col-12 blogs mb-2 no-padding" *ngIf="actionList.layout==='two_column'">
                    <app-quick-actions [actionList]="actionList.action"
                        (actionPerformed)="quickActionPerformed($event)"></app-quick-actions>
                </div>
                <div class="col-12 mb-2 no-padding" [ngClass]="actionList['layout_style']"
                    *ngIf="actionList.layout==='one_column'">
                    <div class="col-12 blog mt-2 mb-2 no-padding" (click)="blogReadMore(blog)"
                        *ngFor="let blog of actionList.action">
                        <div class="card px-3 mb-2">
                            <div class="blog-detail">
                                <img class="blog-img" [src]="blog.image" alt="">
                                <div class="details">
                                    <p class="date pop-box-cont">
                                        <i class="fa fa-calendar"></i>
                                        {{blog.date}}
                                    </p>
                                    <h3 class="blog-head hed">{{blog.title}} </h3>
                                    <p class="blog-description">{{blog.description}} </p>
                                    <p class="read-more"><span>Read More...</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 no-padding mb-4 text-center" *ngIf="section.blogs.showMoreBlogs">
                        <button mat-button
                            (click)="showMoreVideo(section.blogs.moreBlogsLink)">{{section.blogs.moreBlogsCaption}}</button>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </ng-container>
    <div class="px-3">
        <div class="col-12 mt-2 no-padding" *ngIf="showDepartments && section.departments">
            <div class="col-12 no-padding" *ngIf="section.departmentsDescription"
                [innerHtml]="section.departmentsDescription | safeHtml">
            </div>
            <div class="col-12 no-padding">
                <app-cons-departments [terminologiesjson]="terminologiesjson" [templateJson]="templateJson"
                    [accountProfile]="accountProfile" [selectedLocation]="selectedLocation"
                    (actionPerformed)="actionPerformed($event)" [departments]="departments"
                    [cardType]="section.departmentCard">
                </app-cons-departments>
            </div>
        </div>
        <div class="col-12 mt-2 no-padding" *ngIf="section.testimonials && section.testimonials.show">
            <div class="col-12 no-padding">
                <h5 class="mb-3"><i class="i-actions fa fa-calendar-plus-o"
                        aria-hidden="true"></i>&nbsp;<span>{{section.testimonials.title}}</span>
                </h5>
            </div>
            <div class="col-12 testimonials mb-2 no-padding">
                <div class="col-12 testimonial mt-2 mb-2 no-padding" (click)="blogReadMore(testimonial)"
                    *ngFor="let testimonial of section.testimonials.testimonial">
                    <div class="card col-12 no-padding">
                        <div class="testimonial-detail">
                            <div class="details">
                                <p class="testimonial-description">{{testimonial.description}} </p>
                                <!-- <p class="read-more"><span>Read More...</span></p> -->
                                <div class="mt-1">
                                    <span class="author">{{testimonial.title}} </span> | <span
                                        class="date">{{testimonial.date}}</span>
                                </div>

                            </div>
                            <img class="testimonial-img" [src]="testimonial.image" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-12 no-padding mb-4 text-center"
                    *ngIf="section.testimonials && section.testimonials.showMore">
                    <button mat-button
                        (click)="showMoreVideo(section.testimonials.moreLink)">{{section.testimonials.moreCaption}}</button>
                </div>
            </div>
        </div>
        <div class="col-12 mt-2 no-padding" *ngIf="section.blogs && section.blogs.showBlogs">
            <div class="col-12 no-padding">
                <h5 class="mb-3"><i class="i-actions fa fa-calendar-plus-o"
                        aria-hidden="true"></i>&nbsp;<span>{{section.blogs.blogsCaption}}</span>
                </h5>
            </div>
            <div class="col-12 blogs mb-2 no-padding">
                <div class="col-12 blog mt-2 mb-2 no-padding" (click)="blogReadMore(blog)"
                    *ngFor="let blog of section.blogs.blog">
                    <div class="card col-12 mb-2">
                        <div class="blog-detail">
                            <img class="blog-img" [src]="blog.image" alt="">
                            <div class="details">
                                <p class="date pop-box-cont">
                                    <i class="fa fa-calendar"></i>
                                    {{blog.date}}
                                </p>
                                <h3 class="blog-head hed">{{blog.title}} </h3>
                                <p class="blog-description">{{blog.description}} </p>
                                <p class="read-more"><span>Read More...</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 no-padding mb-4 text-center"
                    *ngIf="section.blogs && section.blogs.showMoreBlogs">
                    <button mat-button
                        (click)="showMoreVideo(section.blogs.moreBlogsLink)">{{section.blogs.moreBlogsCaption}}</button>
                </div>
            </div>
        </div>
        <div class="col-12 mt-2 no-padding" *ngIf="section.latestVideos && section.latestVideos.showVideos">
            <div class="col-12 no-padding">
                <h5 class="mb-3"><i class="i-actions fa fa-calendar-plus-o"
                        aria-hidden="true"></i>&nbsp;<span>{{section.latestVideos.videoCaption}}</span>
                </h5>
            </div>
            <div class="col-12 blogs mb-2 no-padding">
                <div class="col-12 video mb-2 no-padding" (click)="videoClicked(video)"
                    *ngFor="let video of section.latestVideos.videos">
                    <div class="card col-12">
                        <img class="video-img" [src]="video.image" alt="">
                        <h3 class="blog-head hed">{{video.title}} </h3>
                        <h4 class="blog-description">{{video.description}} </h4>
                    </div>
                </div>
                <div class="col-12 no-padding mb-4 text-center"
                    *ngIf="section.latestVideos && section.latestVideos.showMoreVideo">
                    <button mat-button
                        (click)="showMoreVideo(section.latestVideos.moreVideosLink)">{{section.latestVideos.moreVideosCaption}}</button>
                </div>
            </div>
        </div>
        <div class="col-12 mt-2 no-padding" *ngIf="section.latestArticles && section.latestArticles.showArticles">
            <div class="col-12 no-padding">
                <h5 class="mb-3"><i class="i-actions fa fa-calendar-plus-o"
                        aria-hidden="true"></i>&nbsp;<span>{{section.latestArticles.articleCaption}}</span>
                </h5>
            </div>
            <div class="col-12 blogs mb-2 no-padding">
                <div class="col-12 video mb-2 no-padding" (click)="videoClicked(article)"
                    *ngFor="let article of section.latestArticles.articles">
                    <div class="card col-12">
                        <img class="video-img" [src]="article.image" alt="">
                        <h3 class="blog-head hed">{{article.title}} </h3>
                        <h4 class="blog-description">{{article.description}} </h4>
                    </div>
                </div>
                <div class="col-12 no-padding mb-4 text-center"
                    *ngIf="section.latestArticles && section.latestArticles.showMoreArticles">
                    <button mat-button
                        (click)="showMoreVideo(section.latestArticles.moreArticlesLink)">{{section.latestArticles.moreArticlesCaption}}</button>
                </div>
            </div>
        </div>
        <div class="col-12 mt-2 no-padding" *ngIf="section.users">
            <div class="col-12 no-padding  mb-4" *ngIf="section.usersDescription"
                [innerHtml]="section.usersDescription | safeHtml">
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-12 mt-2  no-padding" *ngIf="section.appointments">
            <div class="col-12 mb-2 no-padding" *ngIf="section.appointmentsDescription">
                <h5 class="mb-2">
                    <span [innerHtml]="section.appointmentsDescription | safeHtml"></span>
                </h5>
            </div>
            <div class="col-12 no-padding">
                <app-appointment-services [terminologiesjson]="terminologiesjson" [templateJson]="templateJson"
                    [apptSettings]="apptSettings" [accountProfile]="accountProfile" [config]="accountConfig"
                    (actionPerformed)="actionPerformed($event)" [filteredServices]="apptServices"
                    [selectedLocation]="selectedLocation" cardName="card1">
                </app-appointment-services>
            </div>
        </div>
        <div class="col-12 mt-2 no-padding" *ngIf="section.checkins">
            <div class="col-12 mb-2 no-padding" *ngIf="section.checkinsDescription">
                <h5 class="mb-2">
                    <span [innerHtml]="section.checkinsDescription | safeHtml"></span>
                </h5>
            </div>
            <div class="col-12 no-padding">
                <app-checkin-services [terminologiesjson]="terminologiesjson" [templateJson]="templateJson"
                    [apptSettings]="apptSettings" [accountProfile]="accountProfile"
                    (actionPerformed)="actionPerformed($event)" [filteredServices]="checkinServices"
                    [selectedLocation]="selectedLocation" cardName="card1">
                </app-checkin-services>
            </div>
        </div>
        <div class="col-12 mt-2 no-padding" *ngIf="section.donations">
            <div class="col-12 mb-2 no-padding" *ngIf="section.donationsDescription">
                <h5 class="mb-2">
                    <span [innerHtml]="section.donationsDescription | safeHtml"></span>
                </h5>
            </div>
            <div class="col-12 no-padding">
                <app-donation-services [terminologiesjson]="terminologiesjson" [templateJson]="templateJson"
                    [accountProfile]="accountProfile" [donationServices]="donationServices"
                    (actionPerformed)="actionPerformed($event)" [selectedLocation]="selectedLocation"
                    [cardType]="section.donationCard">
                </app-donation-services>
            </div>
        </div>
        <div class="col-12 mt-2 no-padding" *ngIf="section.orders">
            <div class="col-12 mb-2 no-padding" *ngIf="section.ordersDescripton">
                <h5 class="mb-2">
                    <span [innerHtml]="section.ordersDescripton | safeHtml"></span>
                </h5>
            </div>
            <div class="col-12 no-padding">
                <app-orders [terminologiesjson]="terminologiesjson" [templateJson]="templateJson"
                    [accountProfile]="accountProfile" [selectedLocation]="selectedLocation">
                </app-orders>
            </div>
        </div>
        <div class="col-12 mt-2 no-padding" *ngIf="section.gallery">
            <div class="col-12 mb-2 no-padding" *ngIf="section.galleryDescription">
                <h5 class="mb-2">
                    <span [innerHtml]="section.galleryDescription | safeHtml"></span>
                </h5>
            </div>
            <div class="col-12 no-padding" *ngIf="galleryJson && galleryJson.length > 0">
                <app-picture-gallery [galleryJson]="galleryJson"></app-picture-gallery>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>