.header {
    padding: 5px 0 5px 0;
}
header {
    background: #FD7029 0% 0% no-repeat padding-box !important

}
::ng-deep .header .p-inputtext,
::ng-deep .header .p-dropdown,
::ng-deep .header .p-dropdown .p-dropdown-trigger {
    padding: 5.25px;
    border-radius: 0;
}

::ng-deep .header .p-button {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.search-btn {
    background: #090909 !important;
}

::ng-deep .header .p-dropdown {
    border-radius: 0 !important;
}

.login {
    font-size: 14px !important;
    color: #A3AFEF !important;
}

.myaccount {
    font-size: 16px !important;
    font-weight: 600 !important;
    cursor: pointer !important;
}

.cart-section {
    cursor: pointer !important;
}


@media (min-width:870px) {
    .search {
        margin: 0px 30px !important;
        padding: 0px !important;
    }

    .display-small {
        display: none !important;
    }

    .header-section {
        justify-content: center;
    }
}

@media (max-width:869px) {
    .search {
        padding: 0px !important;
    }

    .display-large {
        display: none !important;
    }

    .header-section {
        justify-content: space-between;
    }
}

.logo img {
    max-height: 50px !important;
}

::ng-deep {
    @media (max-width:576px) {
        .search-btn {
            padding: 0.814rem !important;
        }

        .logo img {
            max-width: 150px !important;
            height: auto !important;
            align-items: center;
        }
    }
}

header .lgin button {
    width: 30px;
    height: 30px;
    background: #fff;
    line-height: 1;
    color: #222223;
    // border: 1px solid !important;
}

@media (max-width:870px) {
    .header2 .lgin button {
        margin-top: -5px;
    }
}

.cart-section i {
    border: 1px solid !important;
    padding: 5px;
    border-radius: 50%;
    color: black !important;
}

.cart i.fa-search {
    font-size: 25px;
}

.cart-container {
    position: relative;
}

.cart-count {
    position: absolute;
    left: 20px;
    top: -12px;
    text-align: center;
    border-radius: 8px;
    width: 18px;
    height: 18px;
    background-color: #ff6161;
    border: 1px solid #fff;
    color: #f0f0f0;
    line-height: 16px;
    font-size: 12px;
}

.fa-sign-out {
    font-size: 1.25em !important;
}

::ng-deep .full-screen-menu {
    max-width: 100vw !important;
    margin-top: 14px !important;
    width: 100vw !important;
}

.nav-menu {
    background: #fff !important;
    color: #222223 !important;
    border: none !important;
}

.navbar,
.navbar ul {
    display: flex;
    padding: 0.5rem 0 0.5rem 0;
}

.navbar li {
    margin-right: 35px;
}

.navbar button,
.navbar li {
    text-decoration: none;
    cursor: pointer;
    font-size: 1rem;
    padding: 10px 5px !important;
}

.navbar button.active,
.navbar li.active {
    font-weight: 600;
    color: #D1793E;
}

.navbar button:hover,
.navbar li:hover {
    font-weight: 500;
    color: #D1793E;
}

.header1 {

    .navbar button,
    .navbar li {
        color: #333
    }
}

.header2,
.header3 {

    .logo img {
        max-height: 50px !important;
    }

    .navbar button,
    .navbar li {
        color: #000;
        font-weight: 500;
    }

    .navbar-item:hover,
    .navbar-item.active {
        font-weight: 600 !important;
    }

    .header-grid {
        display: grid;
        grid-template-columns: 25% 50% 25%;
    }

    .middle {
        flex-direction: column;
    }

    .cart {
        padding-top: 1.5rem !important;
    }

    /* Style for non-clickable menu items */
    .no-link {
        cursor: default;
    }


    /* Submenu styles */
    .submenu {
        position: absolute;
        // top: 100%;
        // left: 0;
        background: white;
        min-width: 200px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s, visibility 0.3s;
        z-index: 1000;
        flex-direction: column;
    }

    .submenu.show {
        opacity: 1;
        visibility: visible;
    }

    .submenu li {
        padding: 10px 15px !important;
        white-space: nowrap;
    }

    .submenu li:hover {
        background: #f5f5f5;
    }

    .dropdown-icon {
        margin-left: 5px;
        font-size: 0.8em;
    }

    @media (max-width:870px) {
        .header-grid {
            grid-template-columns: 50% 50% !important;
        }

        .cart,
        .nav-menu {
            padding-top: 1rem !important;
        }

        .middle {
            flex-direction: row !important;
        }

        /* Mobile menu styling */
        .mobile-menu {
            width: 100vw;
            max-width: 100%;
        }

        .mobile-submenu {
            margin-left: 16px;
            width: calc(100% - 32px);
        }
    }



}

::ng-deep {

    .header2,
    .header3 {
        app-item-search input {
            padding: 15px !important;
            border-radius: 10px !important;
            border: 1px solid rgb(118 114 114 / 38%) !important;
        }
    }
}

.header3 {
    .header-inline-menu {
        border-top: 1px solid #E4E2DE;
        border-bottom: 1px solid #E4E2DE;
        margin-top: 20px;
    }
}