@charset "UTF-8";

html,
body,
// div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
// li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  height: 100%;
}

@media only screen and (max-width: 575px) {
  html {
    font-size: 14px !important;
  }
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

.flex-root {
  flex: 1;
  -ms-flex: 1 0 0px;
}

.flex-column-fluid {
  flex: 1 0 auto;
}

.panel {
  min-height: 100vh;
  margin-bottom: 0;
}

.flex-row-fluid {
  flex: 1 auto;
  -ms-flex: 1 0 0px;
  min-width: 0;
}

.flex-row-auto {
  flex: 0 0 auto;
}

.flex-column-auto {
  flex: none;
}

.flex-column {
  flex-direction: column !important;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.justify-content-between {
  justify-content: space-between !important;
}

@media (min-width: 992px) {
  .flex-lg-row {
    flex-direction: row !important;
  }
}

@media (min-width: 992px) {
  .flex-lg-row {
    flex-direction: row !important;
  }
}

.panel-heading.top-row {
  height: 50px;
  padding: 7px 10px;
  border-bottom: none !important;

}

.content.bus-page .bus-page-header .panel-heading .dashboard-btn {
  color: #1e4079;
  background: transparent;
  border: none;
}

.card {
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .05) !important;
  border-radius: 5px;
  background: #fff;
  background-clip: padding-box;
  border: none !important;
  width: 100%;
}

.bg-basic-profile {
  background: #1e4079 0% 0% no-repeat padding-box;
}

.ml-auto,
.mx-auto {
  margin-left: auto !important;
}

.mr-auto,
.mx-auto {
  margin-right: auto !important;
}

.text-center {
  text-align: center !important;
}

.zoom-icon {
  content: url(https://d2199iy1o5ikw9.cloudfront.net/customapp/assets/images/teleservice/Zoom-01.svg);
  top: 4px;
  position: relative;
  padding-right: 1px;
  width: 25px;
}

.meet-icon {
  content: url(https://d2199iy1o5ikw9.cloudfront.net/customapp/assets/images/teleservice/gmeet.svg);
  top: 3px;
  position: relative;
  padding-right: 1px;
  width: 15px;
}

.wtsapaud-icon {
  content: url(https://d2199iy1o5ikw9.cloudfront.net/customapp/assets/images/teleservice/whatsapp_audio.svg);
  top: 4px !important;
  position: relative;
  padding-right: 1px;
  width: 26px;
  object-fit: cover;
}

.wtsapvid-icon {
  content: url(https://d2199iy1o5ikw9.cloudfront.net/customapp/assets/images/teleservice/whatsapVideo.svg);
  top: 4px;
  position: relative;
  padding-right: 1px;
  width: 24px;
}

.jaldeevideo-icon {
  content: url(https://d2199iy1o5ikw9.cloudfront.net/customapp/assets/images/teleservice/jaldeevideo.svg);
  top: 3px;
  position: relative;
  padding-right: 1px;
  width: 100%;
}

.jvideo-icon {
  content: url(https://d2199iy1o5ikw9.cloudfront.net/customapp/assets/images/teleservice/video-icon-small.png);
  position: relative;
  padding-right: 1px;
}

.jvideo-icon-s {
  width: 20px !important;
}

.jvideo-icon-sm {
  width: 28px !important;
}

.phon-icon {
  content: url(https://d2199iy1o5ikw9.cloudfront.net/customapp/assets/images/teleservice/audio.svg);
  top: 3px;
  position: relative;
  padding-right: 1px;
  width: 15px;
}

.booking-img {
  content: url(https://d2199iy1o5ikw9.cloudfront.net/customapp/assets/images/bookingwindow.png);
  width: inherit;
  margin: auto;
  margin-top: 50px;
  padding: 20px;
}

h6.custom {
  font-size: 1.175rem !important;
}

h1.custom,
h2.custom,
h3.custom,
h4.custom,
h5.custom,
h6.custom {
  margin-bottom: 0.5rem !important;
  font-weight: 600 !important;
  line-height: 1.2 !important;
}

.bus-item-N {
  border-radius: 10px !important;
  width: 32.6%;
  float: left !important;
  margin-bottom: 20px !important;
  margin-right: 8px !important;
  padding: 7px;
  border: 2px solid #ddd;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

@media(max-width: 1200px) {
  .bus-item-N {
    width: 49.11%;
  }
}

@media(max-width: 991px) {
  .bus-item-N {
    width: 48.75%;
    float: left !important;
  }
}

@media(max-width: 720px) {
  .bus-item-N {
    width: 100%;
  }
}

.greenc {
  color: #00cc96;
}

.grid-card .mat-grid-tile .mat-grid-tile-footer {
  background: none !important;
  height: 17%;
}

.grid-card .prov_nme {
  font-size: .8rem;
  color: #000000cf !important;
  font-weight: 600;
}

.disply-flex {
  display: flex;
}

.grid-card .mat-grid-tile {
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12) !important;
  border-radius: 5px;
  background: #fff;
}

.grid-card .more_opt {
  position: absolute;
  z-index: 9;
  right: 0;
}


.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}

.grid-card .book_stats {
  font-weight: 600;
  color: #673ab7f2;
  margin-top: auto !important;
  margin-bottom: auto;
}

app-appt-card,
app-wl-card {
  height: 100% !important;
  overflow: auto;
}

.mat-grid-tile-footer mat-flat-button {
  padding: 2px !important;
}

.grid-card .ribbon {
  position: absolute;
  padding: 0 0.5em;
  font-size: .8rem;
  z-index: 10;
  margin: 0 0 0 -0.625em;
  line-height: 2em;
  min-width: 25%;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  color: #edf2fc;
  font-weight: 600;
  border-radius: 0 0.156em 0.156em 0;
  background: #031c6e;
  box-shadow: -1px 2px 3px rgb(0 0 0 / 50%);
}

.grid-card .ribbon:after {
  right: -1em;
  border-width: 0.99em 1em 1em 3em;
  border-color: #06227c transparent #06227c #06227c;
  z-index: -1;
  box-shadow: 0 8px 6px -6px #00000085;
}

.grid-card .ribbon:after {
  content: "";
  position: absolute;
  border-style: solid;
}

.custom {
  height: 40px;
}

.grid-card .appt-icon {
  content: url(https://d2199iy1o5ikw9.cloudfront.net/customapp/assets/images/Appoinment-01.svg);
  position: relative;
  width: 45px;
  margin-top: 7px;
  margin-left: 10px;
  padding: 4px;
  border-radius: 20%;
}

.consumer-dash .grid-card .pad-lt-40 {
  padding-left: 40px;
}

.consumer-dash .grid-card .sp_name {
  color: #183e79;
  font-weight: 600;
}

.consumer-dash .grid-card .prov_lbl {
  font-size: .8rem;
  color: grey;
  flex: 1;
}

.consumer-dash .grid-card .prov_nme {
  font-size: .8rem;
  color: #000000cf;
  font-weight: 600;
}

.mat-grid-tile .mat-grid-tile-footer {
  display: flex;
  align-items: center;
  height: 48px;
  color: #fff;
  background: rgba(0, 0, 0, .38);
  overflow: hidden;
  padding: 0 16px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 10px;
}

.consumer-dash .grid-card button {
  line-height: 25px !important;
  border-radius: 5px !important;
  width: 100%;
  text-transform: none !important;
  padding: 0 16px !important;
}

.consumer-dash .grid-card .btns {
  background: #183e79d6;
  color: #fff;
}

.mat-grid-tile .mat-grid-tile-footer {
  margin-top: 185px !important;
  position: inherit !important;
}

.red {
  color: red !important;
}


.paid {
  color: black;
  padding-left: 40px;
  padding-top: 8px;
  font-size: .75rem;
}

.new-btns {
  display: flex;
  flex-wrap: wrap;
}

.new-btns button,
.new-btns>span {
  flex-grow: 1 !important;
  margin: 5px !important;
  width: 45% !important;
}

.btns {
  width: 48%;
  font-size: .75rem;
}

.chat-icon {
  content: url(https://d2199iy1o5ikw9.cloudfront.net/customapp/assets/images/enquiry.jpeg);
  position: relative;
  padding-right: 1px;
  width: 20px;
}

[class^=icon-]:before {
  // font-family: custom-ynw !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-feature-settings: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak-as: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cross-icon {
  content: url(https://d2199iy1o5ikw9.cloudfront.net/customapp/assets/images/error.svg);
  position: relative;
  padding-right: 1px;
  width: 20px;
}

.consumer-reschedule-icon {
  content: url(https://d2199iy1o5ikw9.cloudfront.net/customapp/assets/images/Reschedule-01-01.svg);
  width: 20px;
}

.mat-calendar-body-today.mat-calendar-body-selected {
  box-shadow: inset 0 0 0 1px rgb(0 0 0 / 87%);
}

.mat-calendar-body-selected {
  background-color: #29b6f6;
  color: rgba(0, 0, 0, .87);
}





.mat-datepicker-toggle-active {
  color: #29b6f6;
}

@media screen and (max-width: 575px) {
  h6.custom {
    font-size: 1rem !important;
  }
}

h6.custom {
  padding-right: 0px !important;
}

@media (max-width: 575px) {
  .more_btn {
    font-size: 14px;
  }
}

@media (max-width: 575px) {
  .title {
    font-size: 14px !important;
  }
}

.iti .iti__country-list {
  box-shadow: none;
  font-size: 14px;
  margin-left: 0;
  width: 244px;
  max-height: 170px;
}

.iti input#country-search-box {
  background: #f6f6f6 !important;
  border: none !important;
  border-bottom: 1px solid #ccc !important;
  font-size: 14px;
  border-radius: 0 !important;
  padding: 5px 10px;
  height: 40px !important;
}

.iti .dropdown-menu.country-dropdown {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-color: #c7cace;
  margin-top: -1px;
}

.sts-msg.error {
  padding: 5px;
  background: transparent;
  color: #f24949 !important;
  font-weight: 500;
  text-align: left;
}

.content.see-pages .outer-card .card .form-group app-field-error-display .sts-msg.error {
  padding: 5px;
  background: transparent;
  color: #f24949;
  font-weight: 500;
  text-align: left;
}

.sts-msg.error {
  font-size: small !important;
}

.col-form-label.form-control {
  border-radius: 0px !important;
  box-shadow: none !important;
}

.popup-class h1.mat-dialog-title {
  padding: 15px 10px !important;
  background: #1e4079;
  color: #fff;
  font-size: 1rem !important;
}



.popup-class .mat-dialog-title .modal_close i:before {
  font-size: 75% !important;
}

.form-group .col-form-label {
  font-weight: 600;
  font-size: .875rem;
  display: block;
  margin-bottom: 5px;
  padding: 0;
}

.bt2 {
  background: #dbdbdb;
  color: #666;
}

.cdk-overlay-container .mat-dialog-container form .form-group {
  margin-bottom: 1.25em;
}




.mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

.commonpopupmainclass div {
  font-size: .875rem;
}

@media only screen and (max-width: 500px) {
  .commonpopupmainclass {
    max-width: 100vw !important;
    height: 100vh;
  }

  p {
    font-size: 14px;
  }

  .commonpopupmainclass div {
    font-size: 12.25px;
  }
}

label {
  margin-bottom: 5px !important;
  font-weight: 500;
  font-family: Figtree, sans-serif !important;
}

.members-list label {
  margin-bottom: 5px !important;
  font-weight: 500;
  font-family: Figtree, sans-serif !important;
}

::ng-deep mat-radio-button.pay-rad {
  margin-right: 5px !important;
}

.form-group .form-control.nofocus,
.form-group input[type=text].nofocus {
  pointer-events: none;
  cursor: default;
}

.ynw-common-form .form-control {
  display: block !important;
  width: 100%;
  height: 34px;
  padding: 6px 12px !important;
  font-size: 14px !important;
  line-height: 1.42857143 !important;
  color: #555 !important;
  background-color: #fff !important;
  background-image: none !important;
  border: 1px solid #ccc !important;
  border-radius: 4px !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .08) !important;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s !important;
}

.disp-flex {
  display: flex !important;
}

.width-100 {
  width: 100% !important;
}

.provider-details a:hover {
  color: #222223;
  text-decoration: none !important;
}

@media (max-width: 575px) {
  .freeslots.token mat-chip {
    font-size: 11px !important;
    margin: 3px !important;
  }
}

.sts-msg.error {
  font-size: small !important;
}

.consumer-dash .grid-card .ordr_no {
  color: #000;
  font-size: .8rem;
  font-weight: 600;
}

.font-size-9 {
  font-size: .9rem !important;
}

.mt-1 {
  margin-top: 5px !important;
}

.consumer-dash .grid-card .token-icon,
.consumer-dash .token-icon {
  content: url(https://d2199iy1o5ikw9.cloudfront.net/customapp/assets/images/token-01.svg);
  position: relative;
  margin-top: 7px;
}

.consumer-dash .grid-card .token-icon {
  width: 45px;
  margin-left: 10px;
  padding: 4px;
  border-radius: 20%;
  background: #fcebbe54;
}

.txt-area-msg textarea {
  width: 100%;
  border-color: rgba(10, 25, 49, .24) !important;
  outline: 0;
  height: 153px !important;
  border: 1px solid #808080a8 !important;
  margin-bottom: 10px !important;
}


.btn:focus {
  outline: none;
  text-decoration: none;
}

app-form-success-display {
  .sts-msg {
    &.success {
      padding: 10px 15px;
      background: $green;
      color: $white;
      font-size: .75rem;
      font-weight: 500;
      text-align: center;
      margin-top: 8px !important;
    }
  }
}


.pointer-cursor {
  cursor: pointer;
}

body {
  font-size: 1rem !important;
}

.form-level-settings,
.head-level-settings {
  color: #999 !important;
  font-weight: 400 !important;
}

.form-level-settings {
  font-size: .8rem !important;
}

.mat-radio-button.mat-accent.mat-radio-checked {
  color: #000;
}

@media only screen and (max-width: 575px) {
  .no-padding-small {
    padding: 0 !important;
  }
}

.bg-basic-profile a {
  font-weight: 300;
  font-size: 9.16px;
  line-height: 10.54px;
  color: #fff;
}

.panel-body {
  min-height: calc(100vh - 55px);
}

::ng-deep .mat-snack-bar-container.snackbarnormal {
  background-color: #00aef2 !important;
  color: #fff !important;
  padding-right: 0 !important;
}

::ng-deep .mat-snack-bar-container.snackbarerror {
  background-color: #f24949 !important;
  color: #fff !important;
  padding-right: 0 !important;
}

.mr-rx-icon-customer {
  content: url(https://d2199iy1o5ikw9.cloudfront.net/customapp/assets/images/prescription2.svg);
  width: 20px;
}

.modal_close {
  position: absolute;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #fff;
  right: 0;
  top: 50%;
  margin-top: -30px;
  z-index: 121;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-dialog-title {
  position: relative;
}

.specialclass app-field-error-display .sts-msg.error,
.loginmainclass app-field-error-display .sts-msg.error,
.commonpopupmainclass app-field-error-display .sts-msg.error {
  padding: 10px 15px;
  background: #f24949;
  color: #fff;
  font-size: .75rem;
  font-weight: 500;
  text-align: center;
  margin-top: 8px !important;
}

.bg-basic-profile-img::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.35);
}

app-payment-modes {
  .mat-radio-container {
    display: block !important;
    top: 5px !important;
    right: 5px !important;
    float: right !important;
  }

  .mat-radio-label-content {
    font-family: Roboto, Helvetica Neue, sans-serif;
    font-weight: 700;
  }

  .mat-radio-outer-circle,
  .mat-radio-inner-circle {
    height: 15px !important;
    width: 15px !important;
  }

  .mat-radio-label {
    display: block !important;
  }

  .mat-radio-button {
    margin-right: 5px !important;
  }
}

.cs-btn {
  position: relative;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border: none;
  white-space: nowrap;
  outline: 0;
  padding: 10px 40px;
  font-size: inherit;
  line-height: 1.4;
  z-index: 2;
}

.commonpopupmainclass .mat-dialog-actions .bt1 {
  margin-left: 10px;
}

.commonpopupmainclass {
  width: 600px !important;
}

@media (min-width:451px) and (max-width:830px) {
  .loginmainclass {
    width: 100% !important;
  }
}

@media (max-width:450px) {
  .loginmainclass {
    width: 100% !important;
    height: 100% !important;
    max-width: 100% !important;
  }
}

.mat-radio-container {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.video-container,
.local,
.remote,
.local-zeroPs {
  background: #000 !important;
}

.videocontainer {
  width: 100% !important;
}

.mat-menu-panel {
  min-height: 0 !important;
}

app-view-rx {
  .mat-dialog-content {
    max-height: 100vh !important;
  }
}

h1,
.h1 {
  font-size: 2em;
}

h2,
.h2 {
  font-size: 1.5em;
}

h3,
.h3 {
  font-size: 1.17em;
}

h4,
.h4 {
  font-size: 1em;
}

h5,
.h5 {
  font-size: .83em;
}

h6,
.h6 {
  font-size: .67em;
}

.commonpopupmainclass .mat-dialog-container {
  width: 100% !important;
}

.ml-2,
.mx-2 {
  margin-left: 0.5rem !important;
}

.mr-2,
.mx-2 {
  margin-right: 0.5rem !important;
}

.p-10 {
  padding: 8px !important;
}

.rupee-font {
  font-family: Arial, Helvetica, sans-serif !important;
}

@media (min-width: 1200px) {
  .container-new {
    max-width: 1480px;
    margin-left: auto;
    margin-right: auto;
  }
}

.p-dropdown .p-dropdown-label {
  background: transparent;
  border: 0 none;
}

.p-dropdown,
.p-calendar-w-btn {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, .38);
  transition: background-color .2s, border-color .2s, color .2s, box-shadow .2s, background-size .2s cubic-bezier(.64, .09, .08, 1);
  border-radius: 4px;
}

.p-dropdown .p-dropdown-label.p-placeholder {
  color: #6c757d;
}

.p-dropdown .p-dropdown-trigger {
  background: transparent;
  color: #6c757d;
  width: 2.357rem;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.p-accordion .p-accordion-content {
  padding: 1rem 1.5rem;
  border: 0 none;
  background: #ffffff;
  color: #000000de;
  border-top: 0;
  border-radius: 0 0 4px 4px;
}

::ng-deep qrcode canvas {
  width: 100%;
  height: 100%;
  max-width: 8rem;
  max-height: 8rem;
}

::ng-deep {
  @media (min-width: 768px) {
    .otp-input {
      font-size: 20px !important;
    }
  }
}
