.select-wrapper {
  display: block;
}

.bt2 {
  text-transform: uppercase;
}

app-field-error-display .sts-msg.error {
  padding: 10px 15px;
  background: #f24949;
  color: #fff;
  font-weight: 500;
  text-align: center;
}

.modal_close {
  outline: none !important;
}

.icon-delete:before {
  content: "\4b";
}