.bottomFlexAlign {
    align-items: end !important;
}

.login-form {
    background: white;
    border-top-left-radius: 50px !important;
    border-top-right-radius: 50px !important;
    padding-top: 40px !important;
}

.bg-cover-app {
    background-size: 100% !important;
}

.qnr-form {
    height: 100vh !important;
}

