<p-toast class="p-toast-container" [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>
<form [formGroup]="amForm" class="ynw-common-form addinboxstyle" novalidate (keyup)="resetApiErrors()"
    [ngClass]="theme">
    <h1 class="mat-dialog-title" *ngIf="title">{{title}}
        <button #queue mat-dialog-close class="modal_close" id="btnClose">
            <i class="fa fa-window-close" aria-hidden="true"></i>
        </button>
    </h1>
    <div class="form-group">
        <div class="card-head-grey mb-1" *ngIf="message_label">{{message_label}} *</div>
        <textarea class="form-control" id="message" placeholder="Message" formControlName="message"
            (keypress)="keyPressed($event.target.value)" maxlength="330">
            </textarea>
    </div>
    <mat-dialog-actions class="mat-scrool" *ngIf="selectedFiles.files &&  selectedFiles.files.length>0">
        <section class="d-flex basicGap cstmWidth">
            <section>
                <ng-container *ngIf="selectedFiles.files">
                    <div class="px-2 no-padding-small attach_sendmsg"
                        *ngFor="let item of selectedFiles.files; let i = index">
                        <div class="px-2 no-padding-small d-flex">
                            <span *ngIf="item['type']"><img class="imgType" [src]="getFileType(item['type'])" /></span>
                            <span class="ln-hgt-40" *ngIf="item['name']">{{ (item['name'].length>15)? (item['name'] |
                                slice:0:15)+'...':(item['name']) }}</span>
                        </div>
                        <div class="px-2 no-padding-small">
                            <span class="mbt comm-menu-imgs">
                                <button type="button" mat-icon-button [matMenuTriggerFor]="menu" id="btnMenu">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                                <mat-menu #menu="matMenu">
                                    <button type="button" id="btnDelete" (click)="deleteTempImage(i,item)" mat-menu-item>
                                        <i class="fa fa-trash-o"></i>
                                        <span>Delete</span>
                                    </button>
                                </mat-menu>
                            </span>
                        </div>
                        <div style="margin-top: 15px" 
                            *ngIf="showCaptionBox[i]">
                            <div class="input-group">
                                <input placeholder="Enter image caption" type="text" class="form-control"
                                    [(ngModel)]="activeImageCaption[i]" [ngModelOptions]="{standalone: true}">
                                <span class="input-group-btn">
                                    <button id="btnCancelCaption" class="btn bt3 btn-default coupon-apply-btn" (click)="closeCaptionMenu(i)"
                                        type="button">Cancel</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </section>
            <section class="col-md-2">
                <ng-container>
                    <ng-container *ngFor="let item of selectedFiles.base64; let i = index">
                        <div *ngIf="item.startsWith('data:application/pdf') && !item.startsWith('data:video/mp4')"
                            class="msgImg">
                            <pdf-viewer style="width: 400px; height: 500px" [src]="item" [rotation]="0"
                                [original-size]="false" [show-all]="true" [fit-to-page]="false" [zoom]="1"
                                [zoom-scale]="'page-width'" [stick-to-page]="false" [render-text]="true"
                                [external-link-target]="'blank'" [autoresize]="true"
                                [show-borders]="false"></pdf-viewer>
                        </div>
                        <img *ngIf="!item.startsWith('data:application/pdf') && !item.startsWith('data:video/mp4')"
                            src="{{item}}" class="msgImg" />
                        <div *ngIf="item.startsWith('data:video/mp4') && !item.startsWith('data:application/pdf')"
                            class="msgImg_Vid">
                            <video class="videoCstm" controls autoplay>
                                <source src="{{item}}" type="video/mp4">
                            </video>
                        </div>
                    </ng-container>
                </ng-container>
            </section>
        </section>
    </mat-dialog-actions>
    <div mat-dialog-actions>
        <button type="button" id="btnCancel" mat-dialog-close class="cancel_btn" [disabled]="disableButton">{{cancel_btn_cap}}</button>
        <button type="button" id="btnSend" (click)="amForm.valid && onSubmit(amForm.value)" mat-button
            [disabled]="! amForm.valid || disableButton || typeOfMsg === 'single' && source ==='provider-waitlist' && !email_id && (!phone || phone === 'null')"
            class="mat-button sendBtn">
            <span *ngIf="!disableButton">{{send_btn_cap}}</span>
            <app-common-innerloading-spinner *ngIf="disableButton"
                [spinnerParams]="{diameter:20}"></app-common-innerloading-spinner>
        </button>
        <button type="button" id="btnSelect"
            *ngIf="source === 'customer-list' || source === 'donation-list' || source=='provider-waitlist' || source === 'provider-sendAll' || source === 'provider-sendAll_group' ||(typeOfMsg === 'single' && (source=='consumer-waitlist' || source == 'provider-waitlist-inbox' || source === 'consumer-common' || source === 'provider-common'))"
            class="cs-btn btn-attach bt_attach" (click)="logofile.click()" [matTooltip]="'Upload files'">
            <input #logofile type="file" accept="/*;capture=camera" style="display:none;" multiple
                (change)="filesSelected($event,'photo')">
            <span><i class="material-icons">attach_file</i></span>
        </button>
    </div>
</form>
<br><br><br>