.serviceAlign .cstmServiceIconServiceInfo {
    width: 80px !important;
    border: 0.825833px solid #D7E7F9;
    filter: drop-shadow(0px 3.30333px 3.30333px rgba(0, 0, 0, 0.25));
    border-radius: 50%;
    box-shadow: 0 4px 8px #0003, 0 6px 20px #00000030;
    height: 80px !important;
}

.service-icon {
    height: 100% !important;
    top: 0px !important;
    padding-right: 0px !important;
    margin-right: 5px !important;
    text-align: center;
}
.userName {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.87);
    font-weight: 700;
    text-align: center !important;
    height: 40px;
}
.specialization {
    color: #878787;
    font-size: 12px;
    font-weight: 700;
    text-align: center !important;
}