.modal_close {
        position: absolute;
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        top: 50%;
        z-index: 121;
        display: flex;
        justify-content: center;
        align-items: center;   
}

a:hover {
    color: #222223;
    text-decoration: none!important;
}