
<div class="date-compact-card" [ngClass]="theme ? [theme] : []">
  <div class="date-compact-card__header">
    <span class="date-compact-card__icon">
      <i class="fa fa-calendar" aria-hidden="true"></i>
    </span>
    <button type="button" class="date-compact-card__month" (click)="picker.open()">
      {{ compactMonthLabel }}
      <i class="fa fa-chevron-down" aria-hidden="true"></i>
    </button>
    <mat-datepicker #picker [dateClass]="dateClass.bind(this)"></mat-datepicker>
    <input class="d-none" type="text" [matDatepicker]="picker" [min]="minDate"
      [max]="maxDate" [value]="selected_date" (dateChange)="date_value_changed();" [(ngModel)]="selected_date">
  </div>
  <div class="date-compact-card__days">
    <button type="button"
      *ngFor="let day of displayDates"
      [disabled]="day.disabled"
      [class.is-selected]="day.iso === selected_date"
      (click)="!day.disabled && selectCompactDate(day.iso)">
      <span class="day">{{ day.dayShort }}</span>
      <span class="date">{{ day.dayNumber }}</span>
    </button>
  </div>
</div>
