


.cart-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}

.btn-viewCart {
    border-radius: 5px;
    border: 2.643px solid rgba(255, 187, 17, 0.13);
    background: #436B50;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 15px !important;
}

.Item-count {
 /* color: #436B50; */
 font-size: 13px;
 font-weight: 400 !important;
}
