<p-toast class="p-toast-container" [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>

<section class="container no-padding-small cust-book-details customWidth">
    <div class="content p-0 comn-cls checkin-details">
        <div [ngClass]="{row: !smallDevice}">
            <div class="panel panel-default p-0">
                <div class="panel-body p-0">
                    <div class="c-outer m0">
                        <div class="c-body booking-content">
                            <div class="panel-heading cstmHeader">
                                <div (click)="gotoPrev()" class="backFlex">
                                    <div><i class="fa fa-arrow-left" aria-hidden="true"></i></div>
                                    <div>{{pageTitle | capitalizeFirst}}</div>
                                </div>
                            </div>
                            <div class="lbl">
                                <div class="card" *ngIf="!api_loading">
                                    <app-common-innerloading-spinner> </app-common-innerloading-spinner>
                                </div>
                                <div *ngIf="api_loading && booking['info'] && !smallDevice">
                                    <div class="mb-4 cust-det-outline card flexClass direction">
                                        <div class="w-50 p-3 borderClr">
                                            <div class="my-2 l-ht-2 flexClass">
                                                <div class="customCard" *ngIf="booking['logo']">
                                                    <img class="imageInfo" src="{{booking['logo']}}" />
                                                </div>
                                                <div class="customWidth">
                                                    <div class="CustomerDetails">
                                                        <div class="cstmLineHeight">
                                                            <div class="orderStatus" *ngIf="booking['status']">
                                                                <div class="stausCustom">{{'Status : ' | translate}}
                                                                </div>
                                                                <div class="stausCustom">{{booking['status'] |
                                                                    capitalizeFirst}}</div>
                                                            </div>
                                                            <div class="orderStatus mt-2"
                                                                *ngIf="booking['info']?.providerAccount?.businessName"
                                                                (click)="gotoHome()">
                                                                <div class="businessName pointer-cursor">
                                                                    {{booking['info'].providerAccount.businessName |
                                                                    capitalizeFirst}}</div>
                                                            </div>
                                                            <div class="orderStatus mt-2" *ngIf="booking['location']">
                                                                <div class="customOrder"> {{booking['location'] |
                                                                    capitalizeFirst}}</div>
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <button (click)="sendMessage()" id="btnSendMessage"
                                                                type="submit" class="contactProviderBtn">
                                                                <span *ngIf="!api_loadingCtctProvider">{{'Message to provider' | translate}}</span>
                                                                <app-common-innerloading-spinner color="#fff"
                                                                    [spinnerParams]="{diameter:30}"
                                                                    *ngIf="api_loadingCtctProvider">
                                                                </app-common-innerloading-spinner>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="orderIdType mt-2">
                                                        <div>
                                                            <div class="customOrder">{{'Booking Id' | translate}}</div>
                                                            <div class="orderNumber">{{booking.encID}}</div>
                                                        </div>
                                                        <div *ngIf="booking['info']?.provider" class="mt-2 usr-name">
                                                            <div class="customOrder">{{provider_label | translate |
                                                                capitalizeFirst}}</div>
                                                            <div class="orderNumber">
                                                                {{(booking['info'].provider.businessName) ? booking['info'].provider.businessName
                                                                : booking['info'].provider.firstName + ' ' + booking['info'].provider.lastName}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="my-2 l-ht-2 row booking-info-cont pt-2">
                                                <div class="col-8">
                                                    <div class="row mb-2"
                                                        *ngIf="booking?.bookingFor[0]?.firstName || booking?.bookingFor[0]?.lastName">
                                                        <div class="col-4 col-title">{{'Booking For' | translate}}</div>
                                                        <div class="col-8 col-value"
                                                            *ngIf="booking.bookingFor[0]?.firstName || booking.bookingFor[0]?.lastName">
                                                            <div>
                                                                <span
                                                                    *ngIf="booking.bookingFor[0]?.title">{{booking.bookingFor[0]?.title}}&nbsp;</span>
                                                                {{booking.bookingFor[0]?.firstName |
                                                                capitalizeFirst}}
                                                                {{booking.bookingFor[0]?.lastName |
                                                                capitalizeFirst}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-2" *ngIf="booking['mobile']">
                                                        <div class="col-4 col-title">{{'Mobile' | translate}}</div>
                                                        <div class="col-8 col-value">
                                                            <div class="no-pointer-events">{{booking['mobile']}}</div>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-2" *ngIf="booking['email']">
                                                        <div class="col-4 col-title">{{'Email' | translate}}</div>
                                                        <div class="col-8 col-value" >
                                                            <div class="no-pointer-events">{{booking['email']}}</div>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-2" *ngIf="booking['date']">
                                                        <div class="col-4 col-title">{{'Date & Time' | translate}}</div>
                                                        <div class="col-8 col-value">
                                                            <div> {{booking['date'] |
                                                                date:'EEEE'}}, {{booking['date'] |
                                                                date:'d'}}&nbsp;{{booking['date'] |
                                                                date:'MMM'}}&nbsp;{{booking['date'] | date:'y'}},
                                                                {{booking['time']}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-2 " *ngIf="booking['info']?.timezone">
                                                        <div class="col-4 col-title">{{ 'Timezone' | translate }} </div>
                                                        <div class="col-8 col-value">{{booking['info']?.timezone}}</div>
                                                    </div>
                                                </div>
                                                <div class="col-4 text-center">
                                                    <div>
                                                        <qrcode id="print-section" [qrdata]="qr_value" [width]="256"
                                                            [errorCorrectionLevel]="'M'"></qrcode>
                                                    </div>
                                                    <div class="statusCheck">{{'Check your status' | translate}}</div>
                                                </div>
                                            </div>
                                            <div class="my-2 l-ht-2">
                                                <div>
                                                    <div class="businessName" *ngIf="cust_notes_cap">{{cust_notes_cap |
                                                        capitalizeFirst | translate}}</div>
                                                    <div class="timeslotOrder"
                                                        *ngIf="booking['info']?.consumerNote &&  booking['info']?.consumerNote !== ''">
                                                        {{booking['info'].consumerNote}}
                                                    </div>
                                                    <div class="timeslotOrder notFound"
                                                        *ngIf="booking['info']?.consumerNote == '' || !booking['info']?.consumerNote">
                                                        {{no_cus_notes_cap}}
                                                    </div>
                                                </div>
                                                <div class="mt-2">
                                                    <div class="businessName">{{'Instructions' | translate}}</div>
                                                    <div class="timeslotOrder notFound"
                                                        *ngIf="!booking['info'].service.postInfoText || booking['info'].service.postInfoText===''">
                                                        {{'No Instructions Found' | translate}}
                                                    </div>
                                                    <div class="timeslotOrder"
                                                        *ngIf="booking['info'].service.postInfoText !==''"
                                                        [innerHTML]="booking['info'].service.postInfoText">
                                                    </div>
                                                </div>
                                                <div class="mt-2" *ngIf="booking['isCancelled']">
                                                    <div class="businessName">{{'Cancellation Reason' | translate}}
                                                    </div>
                                                    <div class="timeslotOrder">
                                                        {{booking['cancelReason']}}
                                                    </div>
                                                </div>
                                                <div class="mt-2"
                                                    *ngIf="booking['isCancelled'] && booking['cancelMessage']">
                                                    <div class="businessName">{{'Cancellation Message' | translate}}
                                                    </div>
                                                    <div class="timeslotOrder">
                                                        {{booking['cancelMessage']}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="my-2 l-ht-2 btnAction">
                                                <div>
                                                    <button type="submit" class="reschedulebtn" id="btnReschedule"
                                                        *ngIf="this.booking['actions']['reschedule']"
                                                        (click)="rescheduleBooking()">
                                                        <div class="rescheduleCstm">
                                                            <div>
                                                                <img class="actionImg"
                                                                    src="{{cdnPath}}assets/images/myjaldee/reschedule.png" />
                                                            </div>
                                                            <div>{{'Reschedule' | translate}}</div>
                                                        </div>
                                                    </button>
                                                </div>
                                                <div>
                                                    <button type="submit" class="cancelbtn" id="btnCancelBooking"
                                                        *ngIf="booking['actions']['cancel']"
                                                        (click)="cancelBooking()">
                                                        <div class="cancelCstm">
                                                            <div>
                                                                <img class="actionImg"
                                                                    src="{{cdnPath}}assets/images/myjaldee/cancel.png" />
                                                            </div>
                                                            <div>{{'Cancel Booking' | translate}}</div>
                                                        </div>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="w-50">
                                            <div
                                                class="col-sm-12 col-md-12 col-lg-12  col-xl-12 col-12 mgn-up-10 mgn-bt-10 l-ht-2 ">
                                                <div>
                                                    <div class="serviceDCetails">{{'Service Details' | translate}}</div>
                                                    <div class="mt-2">
                                                        <div class="serviceCstm">
                                                            <app-service-info [booking]="booking"></app-service-info>
                                                        </div>
                                                        <app-meeting-info [meetingInfo]="meetingDetails"
                                                            [callingChannel]="callingChannel"
                                                            [callingMode]="callingMode" [callingNumber]="callingNumber">
                                                        </app-meeting-info>
                                                        <!-- <div class="mt-2 calendaropen">
                                                            <div (click)="addToCalendar()" class="calendarTxt">{{'Add On calendar' | translate}}</div>
                                                            <div (click)="addToCalendar()">
                                                                <i class="fa fa-calendar"></i>
                                                            </div>
                                                        </div> -->
                                                        <div class="mt-2  justifyContent-1" *ngIf="booking['info']?.amountPaid">
                                                            <div class="flex1">
                                                                <div class="serviceChargetxt">{{'Amount Paid' | translate}}</div>
                                                                <div class="serviceChanrge">{{booking['info']?.amountPaid |currency:'&#8377;'}}</div>
                                                            </div>
                                                        </div>
                                                        <div class="mt-4 waitListFlex gap">
                                                            <div class="serviceCstm customWidth"
                                                            *ngIf="booking['actions']['joinMeeting']">
                                                                <button class="meetingBtn" id="btnJoinVideo">
                                                                    <app-service-image [booking]="booking"></app-service-image>
                                                                    <div class="serviceName">
                                                                        <a class="joinMeeting joinMeetingCstm"
                                                                            *ngIf="meetingDetails && meetingDetails.joiningUrl" href="{{meetingDetails.joiningUrl}}"
                                                                            target="blank">{{'Join Video Consultation' | translate}}</a>
                                                                    </div>
                                                                </button>
                                                            </div>
                                                            <div class="serviceCstm customWidth" *ngIf="booking['actions']['joinJaldeeVideo']">
                                                                <button class="meetingBtn" id="btnJoinJaldeeVideo">
                                                                    <div class="serviceName">
                                                                        <a class="joinMeeting joinMeetingCstm" (click)="joinMeeting()"
                                                                            target="blank">{{'Join Video Consultation' | translate}}</a>
                                                                    </div>
                                                                </button>
                                                            </div>
                                                            <div class="serviceCstm"
                                                                *ngIf="booking['actions']['sendAttachment']"
                                                                (click)="sendAttachmentBooking()">
                                                                <button class="attchmentBtn" id="btnSendAttachment">
                                                                    <i class="material-icons">attach_file</i>
                                                                    <div>{{'Send Attachment' | translate}}</div>
                                                                </button>
                                                            </div>
                                                            <div class="serviceCstm"
                                                            *ngIf="showviewAttachment || booking['actions']['hasAttachment']">
                                                                <button class="attchmentBtn" id="btnViewAttachment"
                                                                    (click)="viewAttachment()">
                                                                    <i class="material-icons">attach_file</i><span
                                                                        class="menuInfo">View Attachments</span>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="booking['info'] && api_loading && smallDevice">
                                    <div class="mb-4 cust-det-outline card">
                                        <div class="logoFlex">
                                            <div>
                                                <div class="customCard" *ngIf="blogo">
                                                    <img class="imageInfo" src="{{blogo}}" />
                                                </div>
                                            </div>
                                            <div class="statusInfo">
                                                <div class="orderStatus" *ngIf="booking['status']">
                                                    <div class="stausCustom">{{'Status : ' | translate}}
                                                    </div>
                                                    <div class="stausCustom">{{booking['status'] | capitalizeFirst}}
                                                    </div>
                                                </div>
                                                <div class="orderStatus mt-2"
                                                    *ngIf="booking['info']?.providerAccount?.businessName"
                                                    (click)="gotoHome()">
                                                    <div class="businessName pointer-cursor">
                                                        {{booking['info'].providerAccount.businessName |
                                                        capitalizeFirst}}</div>
                                                </div>
                                                <div class="orderStatus mt-2" *ngIf="booking['location']">
                                                    <div class="customOrder"> {{booking['location'] |
                                                        capitalizeFirst}}</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mt-2">
                                                <div class="row mb-2">
                                                    <div class="col-3 col-title">{{'Booking Id' | translate}}
                                                    </div>
                                                    <div class="col-9 col-value">{{booking.encID}}</div>
                                                </div>
                                                <div class="row mb-2" *ngIf="booking['info']?.provider" >
                                                    <div class="col-3 col-title">{{provider_label | translate |
                                                        capitalizeFirst}}</div>
                                                    <div class="col-9 col-value">
                                                        {{(booking['info'].provider.businessName) ?
                                                        booking['info'].provider.businessName
                                                        : booking['info'].provider.firstName +
                                                        ' ' + booking['info'].provider.lastName}}</div>
                                                </div>
                                            <div class="mt-2">
                                                <div class="row mb-2"
                                                    *ngIf="booking?.bookingFor[0]?.firstName || booking?.bookingFor[0]?.lastName">
                                                    <div class="col-3 col-title">{{'Booking For' | translate}}</div>
                                                    <div class="col-9 col-value"
                                                        *ngIf="booking.bookingFor[0]?.firstName || booking.bookingFor[0]?.lastName">
                                                        <div>
                                                            <span
                                                                *ngIf="booking.bookingFor[0]?.title">{{booking.bookingFor[0]?.title}}&nbsp;</span>
                                                            {{booking.bookingFor[0]?.firstName |
                                                            capitalizeFirst}}
                                                            {{booking.bookingFor[0]?.lastName |
                                                            capitalizeFirst}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-2" *ngIf="booking['mobile']">
                                                    <div class="col-3 col-title">{{'Mobile' | translate}}</div>
                                                    <div class="col-9 col-value">
                                                        <div class="no-pointer-events">{{booking['mobile']}}</div>
                                                    </div>
                                                </div>
                                                <div class="row mb-2" *ngIf="booking['email']">
                                                    <div class="col-3 col-title">{{'Email' | translate}}</div>
                                                    <div class="col-9 col-value">
                                                        <div class="no-pointer-events">{{booking['email']}}</div>
                                                    </div>
                                                </div>
                                                <div class="row mb-2" *ngIf="booking['date']">
                                                    <div class="col-3 col-title">{{'Date & Time' | translate}}</div>
                                                    <div class="col-9 col-value">
                                                        <div> {{booking['date'] |
                                                            date:'EEEE'}}, {{booking['date'] |
                                                            date:'d'}}&nbsp;{{booking['date'] |
                                                            date:'MMM'}}&nbsp;{{booking['date'] | date:'y'}},
                                                            {{booking['time']}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-2" *ngIf="booking['info']?.timezone">
                                                    <div class="col-3 col-title">{{ 'Timezone' | translate }} </div>
                                                    <div class="col-9 col-value">{{booking['info']?.timezone}}</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-12 col-lg-12  col-xl-12 col-12 mt-2">
                                            <button (click)="sendMessage()" type="submit" id="btnSendMessage"
                                                class="contactProviderBtn">
                                                <span *ngIf="!api_loadingCtctProvider">{{'Message to provider' |
                                                    translate}}</span>
                                                <app-common-innerloading-spinner color="#fff"
                                                    [spinnerParams]="{diameter:30}" *ngIf="api_loadingCtctProvider">
                                                </app-common-innerloading-spinner>
                                            </button>
                                        </div>
                                        <div class="col-sm-12 col-md-12 col-lg-12  col-xl-12 col-12 mt-2 text-center">
                                            <div>
                                                <qrcode id="print-section" [qrdata]="qr_value" [width]="256"
                                                    [errorCorrectionLevel]="'M'"></qrcode>
                                            </div>
                                            <div class="statusCheck">{{'Check your status' | translate}}</div>
                                        </div>
                                        <div class="col-sm-12 col-md-12 col-lg-12  col-xl-12 col-12 mt-2">
                                            <app-service-info [booking]="booking"></app-service-info>
                                            <app-meeting-info [meetingInfo]="meetingDetails" [callingNumber]="callingNumber"
                                                [callingChannel]="callingChannel" [callingMode]="callingMode">
                                            </app-meeting-info>
                                        </div>
                                        <div class="mt-2">
                                            <div class="mt-2 serviceCstm justifyContent-1" *ngIf="booking['info']?.amountPaid">
                                                <div>
                                                    <div class="serviceChargetxt">{{'Amount Paid' | translate}}</div>
                                                    <div class="serviceChanrge">{{booking['info']?.amountPaid |currency:'&#8377;'}}</div>
                                                </div>
                                            </div>
                                            <div class="mb-4">
                                                <div class="serviceCstm customWidth"
                                                *ngIf="booking['actions']['joinJaldeeVideo']">
                                                    <button class="meetingBtn" id="btnJoinJaldeeVideo">
                                                        <app-service-image [booking]="booking"></app-service-image>
                                                        <div class="serviceName">
                                                            <a class="joinMeeting joinMeetingCstm"
                                                                *ngIf="meetingDetails && meetingDetails.joiningUrl" href="{{meetingDetails.joiningUrl}}"
                                                                target="blank">{{'Join Video Consultation' | translate}}</a>
                                                        </div>
                                                    </button>
                                                </div>
                                                <div class="serviceCstm customWidth" *ngIf="booking['actions']['joinMeeting']">
                                                    <button class="meetingBtn" id="btnJoinVideo">
                                                        <div class="serviceName">
                                                            <a class="joinMeeting joinMeetingCstm" (click)="joinMeeting()"
                                                                target="blank">{{'Join Video Consultation' | translate}}</a>
                                                        </div>
                                                    </button>
                                                </div>
                                                <div class="serviceCstm customWidth" *ngIf="booking['actions']['sendAttachment']">
                                                    <button class="attchmentBtn" id="btnSendAttachment"
                                                        (click)="sendAttachmentBooking()">
                                                        <i class="material-icons">attach_file</i>
                                                        <div>{{'Send Attachment' | translate}}</div>
                                                    </button>
                                                </div>
                                                <div class="serviceCstm customWidth">
                                                    <button class="attchmentBtn" id="btnViewAttachment"
                                                        *ngIf="showviewAttachment || booking['actions']['hasAttachment']"
                                                        (click)="viewAttachment()">
                                                        <i class="material-icons">attach_file</i><span
                                                            class="menuInfo">View Attachments</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-4">
                                            <div class="noteCard">
                                                <div class="businessName" *ngIf="cust_notes_cap">{{cust_notes_cap |
                                                    capitalizeFirst | translate}}</div>
                                                <div class="timeslotOrder timeSlotOrderSmall"
                                                    *ngIf="booking['info']?.consumerNote &&  booking['info']?.consumerNote !== ''">
                                                    {{booking['info'].consumerNote}}
                                                </div>
                                                <div class="timeslotOrder notFound"
                                                    *ngIf="booking['info']?.consumerNote == '' || !booking['info']?.consumerNote">
                                                    {{no_cus_notes_cap}}
                                                </div>
                                            </div>
                                            <div class="mt-2 noteCard">
                                                <div class="businessName">{{'Instructions' | translate}}</div>                                                
                                                <div class="timeslotOrder notFound"
                                                    *ngIf="!booking['info'].service.postInfoText || booking['info'].service.postInfoText===''">
                                                    {{'No Instructions Found' | translate}}
                                                </div>
                                                <div class="timeslotOrder timeSlotOrderSmall"
                                                    *ngIf="booking['info'].service.postInfoText !==''"
                                                    [innerHTML]="booking['info'].service.postInfoText">
                                                </div>
                                            </div>
                                            <div class="mt-2 noteCard" *ngIf="booking['isCancelled']">
                                                <div class="businessName">{{'Cancellation Reason' | translate}}
                                                </div>
                                                <div class="timeslotOrder timeSlotOrderSmall">
                                                    {{booking['cancelReason']}}
                                                </div>
                                            </div>
                                            <div class="mt-2 noteCard"
                                                *ngIf="booking['isCancelled'] && booking['cancelMessage']">
                                                <div class="businessName">{{'Cancellation Message' | translate}}
                                                </div>
                                                <div class="timeslotOrder timeSlotOrderSmall">
                                                    {{booking['cancelMessage']}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-4 btnFlex">
                                            <div>
                                                <button type="submit" class="reschedulebtn" id="btnReschedule"
                                                    *ngIf="this.booking['actions']['reschedule']"
                                                    (click)="rescheduleBooking()">
                                                    <div class="rescheduleCstm">
                                                        <div>
                                                            <img class="actionImg"
                                                                src="{{cdnPath}}assets/images/myjaldee/reschedule.png" />
                                                        </div>
                                                        <div>{{'Reschedule' | translate}}</div>
                                                    </div>
                                                </button>
                                            </div>
                                            <div>
                                                <button type="submit" class="cancelbtn" id="btnCancelBooking"
                                                    *ngIf="booking['actions']['cancel']"
                                                    (click)="cancelBooking()">
                                                    <div class="cancelCstm">
                                                        <div>
                                                            <img class="actionImg"
                                                                src="{{cdnPath}}assets/images/myjaldee/cancel.png" />
                                                        </div>
                                                        <div>{{'Cancel Booking' | translate}}</div>
                                                    </div>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card" *ngIf="this.booking['questionnaires']?.length > 0">
                                    <div class="pad-10">
                                        <h3 class="no-margin">
                                            {{questionnaire_heading}}
                                        </h3>
                                    </div>
                                    <ng-container *ngIf="this.booking['questionnaires']?.length > 1">
                                        <mat-accordion class="qnr-accord p-0" *ngFor="let qnr of this.booking['questionnaires']">
                                            <mat-expansion-panel>
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                        {{(qnr.questionnaireName) ? qnr.questionnaireName :
                                                        qnr.questionnaireId}}
                                                        <div class="qnrstatus">
                                                            <span class="greenc"
                                                                *ngIf="getQnrStatus(qnr) === 'submitted'">{{'Submitted'
                                                                | translate}}</span>
                                                            <span class="red"
                                                                *ngIf="getQnrStatus(qnr) !== 'submitted'">{{'Released' |
                                                                translate}}</span>
                                                        </div>
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>
                                                <div class="c-details">
                                                    <app-questionnaire [questionnaireList]="qnr"
                                                        [source]="booking['qnrSource']" [uuid]="booking['info'].id"
                                                        [accountId]="booking['info'].providerAccount.id" [type]="'details'"
                                                        [waitlistStatus]="booking['info'].status"
                                                        (returnAnswers)="getQuestionAnswers($event)">
                                                    </app-questionnaire>
                                                </div>
                                            </mat-expansion-panel>
                                        </mat-accordion>
                                    </ng-container>
                                    <ng-container *ngIf="this.booking['questionnaires']?.length === 1">
                                        <div class="c-details" *ngFor="let qnr of this.booking['questionnaires']">
                                            <app-questionnaire [questionnaireList]="qnr" [source]="booking['qnrSource']"
                                                [uuid]="booking['info'].providerAccount.id" [accountId]="booking['info'].providerAccount.id"
                                                [type]="'details'" [waitlistStatus]="booking['info'].status"
                                                (returnAnswers)="getQuestionAnswers($event)">
                                            </app-questionnaire>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>