.cstmHeader {
    // background: #0D2348;
    // color: #ffffff !important;
    font-size: 18px !important;
    padding: 15px;
    padding-left: 10px;
    font-weight: 800 !important;
    height: 3rem;
    border-radius: 3px;
}
.selected, .mainFlexService_service:hover {
    background-color: #F1FFFF;
    border: 1.62763px solid #0D2348 !important;
    border-radius: 5px;
}
.mainFlexService {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}
.mainFlexService_service {
    width: 30%;
    padding: 10px !important;
    border: 1.62763px solid #e1e7f1 !important;
    border-radius: 5px;
}
.mainFlexService_service.selected {
    border: 1.62763px solid #0D2348 !important;
}
.dualBtn {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding-top: 5px;
    -webkit-box-shadow: -2px -8px 6px -7px rgba(0,0,0,0.24);
    -moz-box-shadow: -2px -8px 6px -7px rgba(0,0,0,0.24);
    box-shadow: -2px -8px 6px -7px rgba(0,0,0,0.24);
}
.confirmBtn {
    background: #0D2348;
    border-radius: 3.25709px;
    border: none;
    outline: none;
    padding: 10px;
    width: 9rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    color: #FFFFFF;
}
.backBtn {
    background: #E5E8E8;
    border-radius: 3.25709px;
    border: none;
    outline: none;
    padding: 10px;
    width: 8rem;
    text-align: center;
    text-transform: uppercase;
    color: #A9A9A9;
}
@media (min-width: 768px) {
    .service-container {
        max-height: calc(100vh - 150px);
        overflow: auto;
    }
    .dualBtn {
        position: sticky;
        bottom: 0;
        background: #fff;
        left: 0;
        padding: 10px 0 15px 0;
    }
}

@media (max-width: 993px) {
    .mainFlexService_service {
        width: 95% !important;
        margin: auto;
    }
    .cstmHeader {
        height: 4rem;
    }
    .dualBtn {
        // margin-bottom: 20px !important;
        justify-content: center !important;
        position: fixed;
        padding: 10px;
        bottom: 0;
        background: #fff;
    }
    .mgn-sm-bt-60 {
        margin-bottom: 60px;
    }
    .mainFlexService {
        gap: 15px !important;
    }
}
.user-detail {
    display: flex;
}
.user-head {
    font-weight: inherit!important;
    font-size: 1.175rem;
    margin: 0!important;
    display: table-cell;
    vertical-align: middle;
}
.service-img {
    height: 51px!important;
    width: 51px!important;
    filter: drop-shadow(0px 2.13343px 2.13343px #FFFFFF)!important;
    border-radius: 30px!important;
    background-color: #fff!important;
    box-shadow: 0 4px 8px #0003, 0 6px 20px #00000030;
}
.details {
    margin-bottom: 0!important;
    margin-top: 5px!important;
    padding-left: 10px!important;
    
}
.about_label {
    color: #1e4079;
    font-size: 16px;
    font-weight: 600;
}
.basicFlex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.justifystart {
    justify-content: flex-start !important;
}
.gap {
    gap: 10px;
}
.Specializations_bg {
    background: #F7F7F8;
    padding: 5px;
}
.type {
    color: #272D37;
    font-size: 16px;
    font-weight: 500;
}
ul.details.badges li {
    margin-right: 5px !important;
    font-size: 1rem !important;
    color: black;
  }
  ul.details li {
    list-style: none !important;
    display: inline;
    margin: 5px;
    font-weight: 500 !important;
  }
  ul.details.contact {
    font-size: 0.9rem !important;
    display: flex;
  }
  ul.details.contact {
    justify-content: center;
  }
  .icon-parking:before {
    content: "\47";
  }
  .icon-trauma:before {
    content: "\79";
  }
  .icon-open-time:before {
    content: "\43";
  }
  .icon-ambulance:before {
    content: "\7a";
  }
  .icon-first-aid:before {
    content: "\38";
  }
  .icon-emergency:before {
    content: "\68";
  }