<div>
    <mat-dialog-content style="margin-top: 70px;">
        <div class="callback-confirm">
            <div class="confirm">
                <img src="./assets/images/callbackrequest.svg" width="200px" height="200px">
            <span class="callback-msg">Your request for call back is confirmed. A counsellor will be contacting you soon..</span> 
            </div>   
            <div class="d-flex back-btn">
                <button pButton type="button" label="Back to home" (click)="goBack()"></button>
            </div>
        </div>
    </mat-dialog-content>    
</div>