<div>
    <section class="">
        <div class="card goBack" (click)="goBack()">
            <i class="fa fa-arrow-left mgn-rt-10"></i><span class="Back m-0">Back to home</span>
        </div>
    </section>
    <section class="mgn-up-10">
        <div class="card">
            <div class="card ivr-section">
                <span>Please select a language</span>
                <p-dropdown [options]="laguages" [(ngModel)]="selectedLanguage"></p-dropdown>
                <button (click)="createCallbackRequest(selectedLanguage)" pButton type="button" label="Send callback request"></button>
            </div>
        </div>
    </section>
</div>
