.back-btn {
    font-size: 1.25rem !important;
    color: black !important;
    background-color: white !important;
    padding: 2.5px;
    border-radius: 3px;
}

.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.question {
    font-weight: 700;
}

.justify {
    text-align: justify;
}